<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base Opcional</title>
    <link rel="stylesheet" href="css/base.css">
</head>

<body>
    <header>
        <a href="INSERIR HOME DO MODULO.html" class="logo-button">
            <img src="img/equipe-logo.png" alt="logo">
        </a>
    </header>
    <div class="title">
        <h1><b>Product Owner (P.O.): Conceitos, Fundamentos e Aplicação</b><h1>
    </div>
</header>

<div class="content">

            <p><b>Conceitos e Fundamentos Básicos:</b></p>
            
            <p>O Product Owner (Dono do Produto) é uma função essencial no Scrum, conforme definido na Scrum Guide, a principal referência para a metodologia Scrum. O P.O. é responsável por definir a visão do produto, priorizar o trabalho e tomar decisões para garantir que o produto atenda às necessidades dos clientes e partes interessadas. Essa definição é baseada nas práticas e princípios ágeis, que enfatizam a colaboração próxima com as partes interessadas e a entrega contínua de valor ao cliente.</p>

            <p><b>Aplicações com exemplos práticos:</b></p>
        
            <p>Imagine que você é um Product Owner (P.O.) em uma equipe de desenvolvimento que está criando um aplicativo de entrega de alimentos. Aqui estão alguns conceitos e fundamentos, exemplificados:</p>
        
            <p><b>1. Definindo a Visão do Produto:</b> Como P.O., você define a visão do aplicativo, visualizando-o como uma plataforma eficiente para pedir comida de restaurantes locais e rastrear entregas em tempo real. Sua visão é criar uma experiência conveniente para os usuários.</p>

            <p><b>2. Priorização do Trabalho:</b> Ao analisar o feedback dos usuários e as necessidades de negócios, você decide priorizar a adição de um recurso de pagamento online na próxima iteração do aplicativo, pois isso é crucial para melhorar a experiência do cliente.</p>
            
            <p><b>3. Tomada de Decisões:</b> Durante o desenvolvimento, a equipe encontra um dilema técnico. Como P.O., você decide adiar a implementação de um recurso menos crítico para resolver o problema técnico imediatamente, mantendo a qualidade do produto.</p>
            
            <p><b>4. Feedback dos Usuários:</b> Após lançar o aplicativo, você coleta feedback dos usuários. Com base nesse feedback, você decide adicionar uma funcionalidade de classificação de restaurantes, pois os usuários expressaram o desejo de compartilhar suas experiências.</p>
            
            <p><b>5. Colaboração com a Equipe:</b> Você trabalha em estreita colaboração com a equipe de desenvolvimento, compartilhando insights dos clientes e esclarecendo requisitos à medida que surgem. Essa colaboração garante que o produto esteja alinhado com as necessidades do mercado em constante evolução.</p>

            <p>Em resumo, o Product Owner desempenha um papel vital em traduzir a visão do produto em recursos tangíveis, priorizando o trabalho para atender às necessidades dos usuários e tomando decisões informadas para garantir o sucesso do produto. Essa aplicação prática ilustra como o P.O. é essencial na criação de produtos que agregam valor aos clientes.</p>
        
        </div>

    </div>

    <div class="button-container">
        <button class="back-button" onclick="location.href='INSERIR PAGINA ANTERIOR.html'">
            <div class="back">
                <img src="img/back.png" alt="back">
            </div>
        </button>

        <button class="home-button" onclick="location.href='INSERIR HOME DO MODULO.html'">
            <div class="">
                <img src="img/home.png" alt="back">
            </div>
        </button>

        <button class="next-button" onclick="location.href='INSERIR PAGINA POSTERIOR.html'">
            <div class="next">
                <img src="img/next.png" alt="back">
            </div>
        </button>
    </div>

</body>

</html>
