{% extends "base.html" %}
{% block title %} Conclusão {% endblock %}
{% block content %}
<header>
    <a href="/" class="logo-button">
        <img src="../static/img/logo.png" alt="logo">
    </a>
</header>

<div class="congratulations">
    <h1><b>Parabéns! Você concluiu com sucesso o Módulo 3 do nosso curso. Continue assim em sua jornada de aprendizado!</b></h1>
</div>


<div class="centered-content">

    <ul>
    {% for result in results %}
        <li class="{{ 'correct' if 'correct' in result else 'incorrect' }}">{{ result }}</li>
    {% endfor %}
    </ul>


    <h3>{{ message }}</h3>
    <a href="/">
        <button class="button">
            <p style="margin: 0;">Finalizar</p>
        </button>
    </a>
</div>

{% endblock %}