{% extends "base.html" %}
{% block title %} Conclusão {% endblock %}
{% block content %}
<header>
    <a href="/" class="logo-button">
        <img src="../static/img/logo.png" alt="logo">
    </a>
</header>

<div class="congratulations">
    <h1><b>Parabéns! Você concluiu com sucesso o Módulo 3 do nosso curso. Continue assim em sua jornada de
            aprendizado!</b>
        <h1>
</div>

<a href="/">
    <button class="button">
        <h2><i><b>Finalizar</b></i></h2>
    </button>
</a>
{% endblock %}