<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprint Dayle Scrum</title>
</head>
<body>
    
    <h2>Conceito:</h2>

    <p>A dayle Standup, também conhecida como Dayle Scrum ou reunião diária, é uma cerimônia 
    fundamental dentro do métodologia ágil Scrum. É uma breve reunião diária realizada pela 
    equipe de desenvolvimento para sincronizar as atividades, compartilhar atualizações dos 
    trabalhos realizados por cada um da equipe e identificar obstáculos que podem impedir o 
    progresso do projeto.</p>

    <h2>Fundamentos:</h2>

    <p>Reunião Diária: O Daily Scrum é uma reunião diária curta, geralmente com duração máxima 
    de 15 minutos. Ela ocorre todos os dias, no mesmo horário e local, para que a equipe possa 
    sincronizar suas atividades.</p>

    <p>Objetivo: O objetivo do Daily Scrum é permitir que a equipe revise o progresso do trabalho 
    desde a última reunião diária, planeje o trabalho para o dia seguinte e identifique quaisquer 
    obstáculos ou impedimentos que possam estar afetando o progresso.</p>

    <p>Três Perguntas-chaves: Durante o Daily Scrum, cada membro da equipe responde a três 
    perguntas:</p>

    <p>A. O que fiz ontem? - Cada membro compartilha o que realizou desde a última reunião diária.</p>

    <p>B. O que farei hoje? - Cada membro descreve as tarefas que planeja realizar durante o dia.</p>

    <p>C. Há algum impedimento no meu caminho? - Os membros da equipe relatam quaisquer 
    obstáculos ou problemas que estejam impedindo o progresso do trabalho.</p>
    
    <p>Transparência: A reunião promove a transparência ao permitir que todos na equipe tenham 
    uma compreensão clara do que está acontecendo e dos desafios que estão sendo enfrentados.</p>

    <p> Scrum Master: O Scrum Master facilita o Daily Scrum, garantindo que a reunião siga as 
    diretrizes e ajude a remover quaisquer impedimentos relatados pela equipe.</p>

    <p>Interação Constante: O Daily Scrum faz parte de um ciclo contínuo de inspeção e adaptação, 
    garantindo que a equipe permaneça focada em seus objetivos e faça ajustes conforme necessário.</p>

    <h2>Exemplos Práticos:</h2>

    <p>1. Frequência e hora: A equipe realiza a daily Standup todos os dias as 9:00 da manhã</p>
    <p>2. Tempo Limitado: A equipe concorda em manter a reunião estritamente dentro de 15 
    minutos para garantir que seja eficiente.</p>
    <p>3. Três perguntas Chaves:</p>

    <p>Membro A: “desde a últma reunião, finalizei a implementação do recurso de 
    ordenação das tarefas e prioridades. Planejo começar a trabalhar na integração 
    com as notificações push até a próxima reunião. Não estou enfrentando nenhum 
    impedimento para realizar minhas tarefas”</p>

    <p>Membro B: “Nos ultimos dias, trabalhei na resolução de alguns bugs relatados 
    pelos usuários. Para a próxima reunião, pretendo começar a trabalhar na melhoria 
    da interface do usuário. Não tenho impedimentos no momento para realizar as 
    tarefas demandadas para mim”</p>

    <p>Membro C: “Cocnlui a revisão do código do Membro A e ajudei a testar o recurso 
    de ordenação de tarefas. Vou continuar auxiliando na integração com notificações 
    Push até a próxima reunião. Não há impedimentos para mim quanto a realização 
    das minhas tarefas”.</p>
    
    





</body>
</html>