{% extends "base.html" %}
{% block title %} Team Dev {% endblock %}
{% block content %}
<header>
    <a href="/">
        <img src="../static/img/logo.png" alt="">
    </a>
    <h1 class="titulo">Dev Team</h1>
</header>

<h2 class="subtitulo">Conceitos do Team Dev:</h2>

<p> No contexto do Scrum, o papel de um desenvolvedor de equipe (Team Dev) é geralmente referido como "Desenvolvedor" ou
    "Membro da Equipe de Desenvolvimento". Os desenvolvedores são parte integrante da equipe Scrum e desempenham um
    papel fundamental no desenvolvimento do produto, abaixo temos alguns conceitos importantes relacionados a um membro
    da equipe de desenvolvimento no Scrum:</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Colaboração:</span> Os membros da equipe de desenvolvimento
    colaboram estreitamente na entrega de incrementos de produto potencialmente utilizáveis. Eles trabalham juntos para
    alcançar os objetivos da sprint e atender aos requisitos do backlog do produto.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Auto-Organização:</span> Os membros da equipe de desenvolvimento
    são auto-organizados, o que significa que têm autonomia para decidir como realizar o trabalho da sprint. Eles são
    responsáveis por planejar, estimar e executar as tarefas da sprint.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Cross-Functional:</span> Uma equipe de desenvolvimento Scrum é
    composta por membros com habilidades variadas, incluindo desenvolvimento, design, testes, entre outras. Isso permite
    que a equipe aborde uma ampla gama de tarefas.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Compromisso com a entrega:</span> Os desenvolvedores têm um
    compromisso firme com a entrega de incrementos de produto concluídos e testados até o final de cada sprint. Isso
    implica a conclusão de funcionalidades que atendem aos critérios de aceitação.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Entrega de valor:</span> A principal responsabilidade dos
    desenvolvedores é criar produtos que agreguem valor ao cliente e ao negócio. Eles trabalham para entregar
    funcionalidades de alta qualidade e atender às necessidades do Product Owner.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Qualidade e testes:</span> Os desenvolvedores são responsáveis por
    garantir a qualidade do código e do produto. Isso envolve realizar testes, garantir que as funcionalidades atendam
    aos critérios de aceitação e corrigir bugs quando necessário.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Entendimento do valor do cliente:</span> Os desenvolvedores
    procuram entender as necessidades dos usuários finais e como as funcionalidades desenvolvidas contribuem para a
    satisfação do cliente e o sucesso do produto.</p>

</p>


<h2 class="subtitulo">Fundamentos:</h2>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Multidisciplinaridade:</span> A equipe de desenvolvimento é
    multidisciplinar, o que significa que possui uma variedade de habilidades necessárias para concluir o trabalho. Isso
    inclui desenvolvimento de software, design, testes, entre outras competências.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Transparência e inspeção:</span> Os membros da equipe de
    desenvolvimento participam das reuniões do Scrum, compartilham informações sobre o progresso e inspecionam o
    trabalho realizado. Eles buscam manter a transparência e a comunicação dentro da equipe.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Adaptação e melhoria contínua:</span> Os membros da equipe de
    desenvolvimento estão abertos à adaptação e à melhoria contínua. Eles utilizam a retrospectiva da sprint para
    identificar oportunidades de aprimoramento e implementar mudanças no processo de trabalho.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Compreensão do objetivo da Sprint:</span> Eles têm uma compreensão
    clara dos objetivos da sprint e trabalham em direção a esses objetivos durante o período da sprint.</p>


<h2 class="subtitulo">Exemplos Práticos:</h2>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Desenvolvimento de Software: </span> Um membro da equipe de
    desenvolvimento trabalha no desenvolvimento de um novo recurso para um aplicativo de mídia social. Eles escrevem
    código, realizam testes e colaboram com outros desenvolvedores para integrar o novo recurso no produto.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Teste e qualidade de Software: </span> Um testador de qualidade
    (QA) na equipe de desenvolvimento conduz testes de aceitação do usuário para garantir que as funcionalidades
    desenvolvidas atendam aos critérios de qualidade e aos requisitos do Product Owner.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Refinamento do Backlog do produto:</span> Os membros da equipe de
    desenvolvimento participam do refinamento do backlog do produto, onde discutem os requisitos com o Product Owner e
    auxiliam na quebra de histórias de usuário em tarefas menores.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Revisões de código e correção de bugs:</span> Eles realizam
    revisões de código para garantir que o código seja de alta qualidade, siga padrões estabelecidos e não introduza
    erros no sistema. Quando surgem problemas ou bugs no software, os membros da equipe de desenvolvimento trabalham
    para identificar, diagnosticar e corrigir esses problemas.</p>

<p>Esses exemplos ilustram como os membros da equipe de desenvolvimento desempenham um papel multifuncional e trabalham
    juntos para criar e melhorar produtos em um ambiente Scrum. Suas responsabilidades variam dependendo de suas
    habilidades e experiência, mas todos contribuem para o sucesso da equipe e a entrega de valor ao cliente.</p>

<h2 class="subtitulo">Ferramentas para o dia a dia de um Team Dev:</h2>

<p>Os membros da equipe de desenvolvimento (Team Dev) dependem de várias ferramentas no dia a dia para realizar seu
    trabalho de forma eficaz, como por exemplo:</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Ambiente de desenvolvimento integrado (IDE):</span> IDEs como Visual 
    Studio Code, IntelliJ IDEA, PyCharm e Eclipse são usados para escrever, depurar e testar código.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Controle de versão:</span> Sistemas de controle de versão, como Git 
    (com plataformas como GitHub, GitLab ou Bitbucket), são essenciais para rastrear e colaborar no código fonte.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Ferramentas de Build e Automação:</span> Ferramentas como Maven, Gradle, 
    Webpack e Gulp são usadas para automatizar tarefas de construção, compilação e empacotamento de aplicativos.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Ferramentas de comunicação:</span> Ferramentas de comunicação, como Slack, 
    Microsoft Teams e Discord, são usadas para colaboração e comunicação com a equipe.</p>

    <br>

    <div class="video-iframe">

        <iframe width="600" height="350" src="https://www.youtube.com/embed/zFIM97y0sAQ?si=-U31W4PgDCJYbVrr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </div>

<!-- passar pagina -->

<span class="flecha">
    <a href="/product_owner">
        <img src="../static/img/flecha esquerda .png" alt="">
    </a>

    <a href="/">
        <img src="../static/img/home.png" alt="back">
    </a>

    <a href="/teste_modulo1">
        <img src="../static/img/flecha direita .png" alt="">
    </a>
</span>
{% endblock %}
