<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer Team</title>
    <link rel="stylesheet" href="css/base.css">
</head>

<body>
    <header>
        <a href="modulo1.html" class="logo-button">
            <img src="img/equipe-logo.png" alt="logo">
        </a>
    </header>
    <div class="title">
        <h1><b>Team Dev (T.D.): Conceitos e Fundamentos Básicos com Exemplos Práticos</b>
            <h1>
    </div>
    </header>

    <div class="content">

        <p><b>Conceitos e Fundamentos Básicos:</b></p>

        <p>A equipe de desenvolvimento (Team Dev) é um grupo multifuncional e autogerenciado de profissionais que
            desempenham um papel crucial na metodologia Scrum. De acordo com a Scrum Guide, a principal referência para
            o Scrum, a equipe de desenvolvimento é responsável por transformar os itens do Product Backlog em
            incrementos de produto prontos. Alguns conceitos e fundamentos incluem:</p>

        <p><b>Multifuncionalidade:</b> A equipe de desenvolvimento é composta por indivíduos com habilidades variadas,
            incluindo análise, design, desenvolvimento e teste. Eles colaboram para entregar valor ao cliente.</p>

        <p><b>Colaboração:</b> A equipe de desenvolvimento trabalha em estreita colaboração com o Product Owner e o
            Scrum Master para entender os requisitos do produto e entregar incrementos de alta qualidade.</p>

        <p><b>Responsabilidade:</b> A equipe de desenvolvimento é autogerenciada e assume a responsabilidade de planejar
            e executar o trabalho durante cada Sprint, bem como de garantir a qualidade do produto final</p>

        <p><b>Aplicações com exemplos práticos:</b></p>

        <p>Suponha que a equipe de desenvolvimento esteja criando um site de comércio eletrônico. Aqui estão alguns
            conceitos aplicados:</p>

        <p><b>1. Colaboração:</b>A equipe colabora com o Product Owner para entender os requisitos do site, incluindo
            recursos como carrinho de compras, pagamento online e catálogo de produtos.</p>

        <p><b>2. Responsabilidade:</b> Durante uma Sprint, a equipe planeja e aloca tarefas para desenvolver os recursos
            definidos. Eles também realizam testes para garantir que o site funcione corretamente.</p>

        <p><b>3. Iterações Contínuas:</b>A equipe de desenvolvimento trabalha em sprints sucessivas, refinando e
            melhorando o site com base no feedback dos usuários e nas mudanças de requisitos do mercado</p>

        <p>Em resumo, a equipe de desenvolvimento é fundamental para a entrega bem-sucedida de produtos Scrum,
            trabalhando de forma colaborativa e multifuncional para transformar conceitos em produtos prontos para uso.
            Esse exemplo prático demonstra como a equipe de desenvolvimento é responsável por criar um site de comércio
            eletrônico funcional e valioso.</p>

    </div>

    </div>

    <div class="button-container">
        <button class="back-button" onclick="location.href='product_owner.html'">
            <div class="back">
                <img src="img/back.png" alt="back">
            </div>
        </button>

        <button class="home-button" onclick="location.href='modulo1.html'">
            <div class="">
                <img src="img/home.png" alt="back">
            </div>
        </button>

        <button class="next-button" onclick="location.href='modulo2.html'">
            <div class="next">
                <img src="img/next.png" alt="back">
            </div>
        </button>
    </div>

</body>

</html>
