<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Home</title>
   ,<link rel="stylesheet" href="style.css">
   <nav>
    <ul>
        <li class="dropdown">
            <a href="#">Início</a>
            <ul class="dropdown-menu">
                <li><a href="#">Módulo 1</a></li>
                <li><a href="#">Módulo 2</a></li>
                <li><a href="#">Módulo 3</a></li>
                <li><a href="#">Testes </a></li>
                <!-- Adicione mais itens de menu conforme necessário -->
            </ul>
        </li>
        <li><a href="#quemsomos1">Quem Somos </a></li>
        <li><a href="#contatos">Contatos </a></li>
        <li><a href="#suporte">Suporte </a></li>
    </ul>
</nav>
   <div class="logo">
<header> <img src="./Imagens/logo.png"> </header>
   </div>
   
   
   <h1 class="titulo">SCRUM IT</h1>
   <div class="container">
    <p class="texto">
       <h3> "Prepare-se para embarcar em uma jornada de aprendizado
        e aprimoramento profissional com nosso curso abrangente
        sobre Scrum, projetado para impulsionar sua carreira no 
        gerenciamento de projetos"</h3>
    </p>
    
    <div class="imagem-capa">
        <img src="/Imagens/capa.png" alt="Capa" class="capa">
    </div>
    <div class="espaco-abaixo"></div>
           
        <div class="imagens-pequenas">

            <a href="modulo1.html" class="card-link">
                <div class="card">
                    <h2>Scrum Team</h2>
                    <img src="./Imagens/scrumteam.png" alt="Scrum Team" class="card-home">
                    <h3>Módulo 1</h3>
                </div>
                
            </a>
            
            <a href="modulo2.html" class="card-link">
                <div class="card">
                    <h2>Artefatos Scrum</h2>
                    <img src="./Imagens/po.png" alt="Artefatos Scrum" class="card-home">
                    <h3>Módulo 2</h3>

                </div>
            </a>
        
            <a href="modulo3.html" class="card-link">
                <div class="card">
                    <h2>Eventos Scrum</h2>
                    <img src="./Imagens/teamdev.png" alt="Eventos Scrum" class="card-home">
                    <h3>Módulo 3</h3>

                </div>
            </a>
            <div style="clear: both;"></div>
        </div>
        
        