{% extends "base.html" %}
{% block title %} Página Inicial {% endblock %}
{% block content %}
<header>
    <a href="/">
        <img src="../static/img/logo_time.png" style="height: 60px; width: 60px;" alt="">
    </a>
    <nav>
        <a class="action" href="/modulo1">Módulo 1</a>
        <a class="action" href="/modulo2">Módulo 2</a>
        <a class="action" href="/modulo3">Módulo 3</a>
    </nav>
</header>

<h1 class="titulo">SCRUM IT</h1>
<p class="texto">
    "Prepare-se para embarcar em uma jornada de aprendizado
    e aprimoramento profissional com nosso curso abrangente
    sobre Scrum, projetado para impulsionar sua carreira no
    gerenciamento de projetos"
</p>

<div class="capa"> <img src="../static/img/capa.png" alt="Capa"> </div>

<div class="card">

    <a href="/modulo1">
        <img class="card-modulo" src="../static/img/scrumteam.png" alt="Scrum Team">
        <h2 class="card-titulo">Scrum Team</h2>
    </a>

    <a href="/modulo2">
        <img class="card-modulo" src="../static/img/po.png" alt="Artefatos Scrum">
        <h2 class="card-titulo">Artefatos Scrum</h2>
    </a>

    <a href="/modulo3">
        <img class="card-modulo" src="../static/img/teamdev.png" alt="Eventos Scrum">
        <h2 class="card-titulo">Eventos Scrum</h2>
    </a>
</div>
{% endblock %}