{% extends "base.html" %}
{% block title %} Página Inicial {% endblock %}
{% block content %}
<header>
    <a href="/">
        <img src="../static/img/logo.png" style="height: 50px; width: 60px;" alt="">
    </a>

    <h1 class="titulo">SCRUM IT</h1>
</header>

<p class="texto">
    "Prepare-se para embarcar em uma jornada de aprendizadoe aprimoramento profissional com nosso curso abrangente
    sobre Scrum, projetado para impulsionar sua carreira no gerenciamento de projetos"
</p>
<div class="flex-container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../static/img/group.png" alt="imagem1" style="width: 100%; height: 500px;">
                <div class="carousel-caption">
                    
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/img/group1.png" alt="imagem2" style="width: 100%; height: 500px;">
                <div class="carousel-caption">
                    
                </div>
            </div>
            <div class="carousel-item">
                <img src="../static/img/group2.png" alt="imagem3" style="width: 100%; height: 500px;">
                <div class="carousel-caption">
                   
                </div>
            </div>
        </div>
        
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" ariahidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>

        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function(){
        $('#myCarousel').carousel({
            interval: false 
        });
    });
</script>

<div class="card">

    <a href="/modulo1">
        <img class="card-modulo" src="../static/img/scrumteam.png" alt="Scrum Team">
        <h2 class="card-titulo">Scrum Team</h2>
    </a>

    <a href="/modulo2">
        <img class="card-modulo" src="../static/img/po.png" alt="Artefatos Scrum">
        <h2 class="card-titulo">Artefatos Scrum</h2>
    </a>

    <a href="/modulo3">
        <img class="card-modulo" src="../static/img/teamdev.png" alt="Eventos Scrum">
        <h2 class="card-titulo">Eventos Scrum</h2>
    </a>

    <a href="/pacer">
        <img class="card-pacer" src="../static/img/exame.png" alt="pacer">
        <h2 class="card-titulo">Pacer</h2>
    </a>
</div>
{% endblock %}


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrossel Bootstrap</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head> -->
