<!DOCTYPE html>

<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="../static/css/style.css">

        <title>Modulo 2</title>
    </head>
        
    <body>

        <header>
            
            <img src="../static/imagens/team (1) 1.png" alt="">


            <H1>Modulo 2</H1>

            <P> 
                Os artefatos do Scrum são documentos ou informações que são criados e mantidos durante o processo de desenvolvimento ágil do Scrum. Eles fornecem transparência, visibilidade e informações essenciais para as equipes de desenvolvimento e as partes interessadas
            </P>



        </header>
    

        <main>

            <div class="card">
            
                <h2>Product Backlog</h2>
                <img src="../static/imagens/Product Back.png" alt="Product Backlog">
                
            </div>

            
            <div class="card">
                <h2>Sprint Backlog</h2>
                <img src="../static/imagens/Sprint Backlog.png" alt="Sprint Backlog">
                
            </div>
            
            
            <div class="card">
                <h2>Product Increment</h2>
                <img src="../static/imagens/product-increment1.png" alt="product-increment1">
               
            </div>

            <div class="card">
                <h2>Exame</h2>
                <img src="../static/imagens/exam 1.png"  alt="Exame">
               
            </div> 
            
            <div class="icones">
                <img src="../static/imagens/proximo 4.png" alt="anterior">
                <img src="../static/imagens/botao-de-inicio 2.png" alt="inicio">
                <img src="../static/imagens/proximo 3.png"  alt="proximo">
            
            </div>
       
        </main>

        <footer>

            <h6>Todos os Direitos Reservados</h6>
            
        </footer>

    </body>
</html>