<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Módulo 3</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <header class="header">
        <a href="/">
            <img src="../static/img/logo.png" alt="">
        </a>
    </header>
    <div class="titulo">Módulo 3: Eventos</div>
    <p class="text">
        Artefatos de Scrum ágil são informações que as equipes Scrum e as partes interessadas usam para detalhar o
        produto que está sendo desenvolvido, as ações para a produção dele e as ações realizadas durante o projeto.
        Esses artefatos oferecem pontos de metadados que informam sobre o desempenho de um sprint. Eles são ferramentas
        essenciais para todas as equipes Scrum, pois viabilizam os principais atributos do Scrum de transparência,
        inspeção e adaptação.
    </p>
    <div class="card">
        <a href="/sprint_planning">
            <img class="card-modulo" src="../static/img/planing.png" alt="Sprint Planning">
                <h2 class="card-title">Sprint Planning</h2>
        </a>

        <a href="/daily_scrum">
            <img class="card-modulo" src="../static/img/reuniao.png" alt="Dayli Scrum">
                <h2 class="card-title">Daily Scrum</h2>
        </a>

        <a href="/sprint_review">
            <img class="card-modulo" src="../static/img/retrospectivo.png" alt="Sprint Review">
                <h2 class="card-title">Sprint Review</h2>
        </a>

        <a href="/retrospective">
            <img class="card-modulo" src="../static/img/revisao.png" alt="Retrospective">
                <h2 class="card-title">Retrospective</h2>
        </a>

        <a href="/teste_modulo3">
            <img class="card-modulo" src="../static/img/exame.png" alt="Exame">
                <h2 class="card-title">Exame</h2>
        </a>

    </div>
</body>

</html>
