{% extends "base.html" %}
{% block title %} Módulo 2 {% endblock %}
{% block nav %}Módulo 2: Artefatos Scrum{% endblock %}
{% block content %}
<p>&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;</p>
<P class="texto">
    Os artefatos do método Scrum são documentos ou informações que são criados e mantidos durante o processo de
    desenvolvimento ágil do Scrum. Eles fornecem transparência, visibilidade e informações essenciais para as
    equipes de desenvolvimento e as partes interessadas.
</P>
<p>&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;</p>
<div class="card">
    <a href="/product_backlog">
        <img class="card-modulo" src="../static/img/Product Back.png" alt="Product Backlog">
        <h2 class="card-titulo">Product Backlog</h2>
    </a>

    <a href="/sprint_backlog">
        <img class="card-modulo" src="../static/img/Sprint Backlog.png" alt="Sprint Backlog">
        <h2 class="card-titulo">Sprint Backlog</h2>
    </a>

    <a href="/product_increment">
        <img class="card-modulo" src="../static/img/product-increment1.png" alt="Product Increment">
        <h2 class="card-titulo">Product Increment</h2>
    </a>

    <a href="/teste_modulo2">
        <img class="card-modulo" src="../static/img/exame.png" alt="Exame">
        <h2 class="card-title">Exame</h2>
    </a>
</div>
{% endblock %}