{% extends "base.html" %}
{% block title %} Módulo 3 {% endblock %}
{% block nav %}Módulo 3: Eventos Scrum{% endblock %}
{% block content %}
<p class="texto">
    Artefatos do método Scrum ágil são informações que as equipes e as partes interessadas usam para detalhar o
    produto que está sendo desenvolvido, as ações para a produção dele e as ações realizadas durante o projeto.
    Esses artefatos oferecem pontos de metadados que informam sobre o desempenho de uma sprint. Eles são ferramentas
    essenciais para todas as equipes Scrum, pois viabilizam os principais atributos do Método Scrum de transparência,
    inspeção e adaptação.
</p>
<div class="card">
    <a href="/sprint_planning">
        <img class="card-modulo" src="../static/img/planing.png" alt="Sprint Planning">
        <h2 class="card-title">Sprint Planning</h2>
    </a>

    <a href="/daily_scrum">
        <img class="card-modulo" src="../static/img/reuniao.png" alt="Dayli Scrum">
        <h2 class="card-title">Daily Scrum</h2>
    </a>

    <a href="/sprint_review">
        <img class="card-modulo" src="../static/img/retrospectivo.png" alt="Sprint Review">
        <h2 class="card-title">Sprint Review</h2>
    </a>

    <a href="/retrospective">
        <img class="card-modulo" src="../static/img/revisao.png" alt="Retrospective">
        <h2 class="card-title">Retrospective</h2>
    </a>

    <a href="/teste_modulo3">
        <img class="card-modulo" src="../static/img/exame.png" alt="Exame">
        <h2 class="card-title">Exame</h2>
    </a>

</div>
{% endblock %}