{% extends "base.html" %}
{% block title %} Módulo 1 {% endblock %}
{% block content %}
<header>
    <a href="/">
        <img src="../static/img/logo.png" alt="">
    </a>
    <h1 class="titulo">Módulo 1: Scrum Team</h1>
</header>

<p class="texto">
    Bem-vindo! Aqui no primeiro módulo do curso desvendaremos os papéis cruciais ddo Time Scum: Scrum Master,
    Product Owner (Dono do Produto) e a Equipe de Desenvolvimento. Prepare-se para explorar a essência e as
    responsabilidades de cada função, bem como as práticas ágeis que impulsionam equipes rumo ao sucesso.
</p>
<div class="card">
    <a href="/scrum_master">
        <img class="card-modulo" src="../static/img/sm.png" alt="Scrum Master">
        <h2 class="card-titulo">Scrum Master</h2>
    </a>

    <a href="/product_owner">
        <img class="card-modulo" src="../static/img/po.png" alt="Product Owner">
        <h2 class="card-title">Product Owner</h2>
    </a>

    <a href="/dev_team">
        <img class="card-modulo" src="../static/img/dt.png" alt="Dev Team">
        <h2 class="card-titulo">Dev Team</h2>
    </a>

    <a href="/teste_modulo1">
        <img class="card-modulo" src="../static/img/exame.png" alt="Exame">
        <h2 class="card-title">Exame</h2>
    </a>
</div>
{% endblock %}