<!DOCTYPE html>
<html>
<head>
    <title>Avaliação Pacer</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>Avaliação Pacer</h1>
    <form>
        <!-- Questões -->
        <div class="question">
            <label for="q1">Eu entendo o papel do Scrum Master como um 
                facilitador e defensor da equipe.</label>
            <input type="radio" name="q1" value="1"> 1
            <input type="radio" name="q1" value="2"> 2
            <input type="radio" name="q1" value="3"> 3
            <input type="radio" name="q1" value="4"> 4
            <input type="radio" name="q1" value="5"> 5
        </div>

        <div class="question">
            <label for="q1">Eu sei como adaptar o Scrum para diferentes contextos 
                organizacionais:</label>
            <input type="radio" name="q2" value="1"> 1
            <input type="radio" name="q2" value="2"> 2
            <input type="radio" name="q2" value="3"> 3
            <input type="radio" name="q2" value="4"> 4
            <input type="radio" name="q2" value="5"> 5
        </div>

        <div class="question">
            <label for="q1">Eu sei o que é uma Sprint e por que é importante:</label>
            <input type="radio" name="q3" value="1"> 1
            <input type="radio" name="q3" value="2"> 2
            <input type="radio" name="q3" value="3"> 3
            <input type="radio" name="q3" value="4"> 4
            <input type="radio" name="q3" value="5"> 5
        </div>

        <div class="question">
            <label for="q1">Eu compreendo os três principais papéis no Scrum: 
                Scrum Master, Product Owner e Development Team:</label>
            <input type="radio" name="q4" value="1"> 1
            <input type="radio" name="q4" value="2"> 2
            <input type="radio" name="q4" value="3"> 3
            <input type="radio" name="q4" value="4"> 4
            <input type="radio" name="q4" value="5"> 5
        </div>

        <div class="question">
            <label for="q1">Eu sei como gerenciar uma Sprint Backlog:</label>
            <input type="radio" name="q5" value="1"> 1
            <input type="radio" name="q5" value="2"> 2
            <input type="radio" name="q5" value="3"> 3
            <input type="radio" name="q5" value="4"> 4
            <input type="radio" name="q5" value="5"> 5
        </div>

        <div class="question">
            <label for="q1">Eu sei como um Product Owner toma decisões sobre o 
                que será desenvolvido em cada Sprint:</label>
            <input type="radio" name="q6" value="1"> 1
            <input type="radio" name="q6" value="2"> 2
            <input type="radio" name="q6" value="3"> 3
            <input type="radio" name="q6" value="4"> 4
            <input type="radio" name="q6" value="5"> 5
        </div>

        <div class="question">
            <label for="q1">Eu vejo as reuniões de Sprint Retrospective como essenciais 
                para o aprendizado e a melhoria contínua da equipe:
            </label>
            <input type="radio" name="q7" value="1"> 1
            <input type="radio" name="q7" value="2"> 2
            <input type="radio" name="q7" value="3"> 3
            <input type="radio" name="q7" value="4"> 4
            <input type="radio" name="q7" value="5"> 5
        </div>

        <div class="question">
            <label for="q1">Eu acho que as reuniões de Sprint Planning são eficazes em definir o 
                trabalho a ser realizado na Sprint:</label>
            <input type="radio" name="q8" value="1"> 1
            <input type="radio" name="q8" value="2"> 2
            <input type="radio" name="q8" value="3"> 3
            <input type="radio" name="q8" value="4"> 4
            <input type="radio" name="q8" value="5"> 5
        </div>

        <div class="question">
            <label for="q1">Eu sei como gerenciar uma Sprint Backlog:</label>
            <input type="radio" name="q9" value="1"> 1
            <input type="radio" name="q9" value="2"> 2
            <input type="radio" name="q9" value="3"> 3
            <input type="radio" name="q9" value="4"> 4
            <input type="radio" name="q9" value="5"> 5
        </div>

        <div class="question">
            <label for="q1">Eu entendo o propósito das reuniões de Daily Scrum:</label>
            <input type="radio" name="q10" value="1"> 1
            <input type="radio" name="q10" value="2"> 2
            <input type="radio" name="q10" value="3"> 3
            <input type="radio" name="q10" value="4"> 4
            <input type="radio" name="q10" value="5"> 5
        </div>

        <div class="question">
            <label for="q1">Eu vejo valor nas reuniões de refinamento 
                de backlog para preparar o trabalho futuro:</label>
            <input type="radio" name="q11" value="1"> 1
            <input type="radio" name="q11" value="2"> 2
            <input type="radio" name="q11" value="3"> 3
            <input type="radio" name="q11" value="4"> 4
            <input type="radio" name="q11" value="5"> 5
        </div>

        <div class="question">
            <label for="q1">Eu acredito que eventos bem estruturados aumentam a produtividade:</label>
            <input type="radio" name="q12" value="1"> 1
            <input type="radio" name="q12" value="2"> 2
            <input type="radio" name="q12" value="3"> 3
            <input type="radio" name="q12" value="4"> 4
            <input type="radio" name="q12" value="5"> 5
        </div>

        <div class="question">
            <label for="q1">Eu acredito que as ações de melhoria identificadas na 
                Sprint Retrospective são implementadas:</label>
            <input type="radio" name="q13" value="1"> 1
            <input type="radio" name="q13" value="2"> 2
            <input type="radio" name="q13" value="3"> 3
            <input type="radio" name="q13" value="4"> 4
            <input type="radio" name="q13" value="5"> 5
        </div>

        <div class="question">
            <label for="q1">Eu acredito que o backlog refinado é essencial 
                para um planejamento de uma Sprint eficaz: </label>
            <input type="radio" name="q14" value="1"> 1
            <input type="radio" name="q14" value="2"> 2
            <input type="radio" name="q14" value="3"> 3
            <input type="radio" name="q14" value="4"> 4
            <input type="radio" name="q14" value="5"> 5
        </div>

        <div class="question">
            <label for="q1">Eu acredito que a Sprint Planning é 
                eficaz em estabelecer um plano para a Sprint:</label>
            <input type="radio" name="q15" value="1"> 1
            <input type="radio" name="q15" value="2"> 2
            <input type="radio" name="q15" value="3"> 3
            <input type="radio" name="q15" value="4"> 4
            <input type="radio" name="q15" value="5"> 5
        </div>

        <input type="submit" value="Enviar Avaliação">
    </form>
</body>
</html>