{% extends "base.html" %}
{% block title %} Product Owner {% endblock %}
{% block nav %}Product Owner{% endblock %}
{% block content %}
<h2 class="subtitulo">Conceitos do Product Owner:</h2>

<p> O Product Owner é um papel fundamental em equipes que seguem a metodologia ágil, como o Scrum. Os principais
    conceitos associados a esse papel incluem:</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Visão do produto:</span> O Product Owner deve ter uma compreensão
    clara e compartilhada da visão do produto, ou seja, entender o propósito e os objetivos do produto que está sendo
    desenvolvido.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Priorização:</span> É responsabilidade do Product Owner priorizar
    o backlog do produto, identificando asfuncionalidades mais importantes e valiosas para os usuários e o negócio.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Definição de requisitos:</span> O Product Owner precisa traduzir
    as necessidades dos stakeholders em requisitos claros e detalhados que a equipe de desenvolvimento possa entender e
    implementar.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Participaçãp ativa:</span> O Product Owner deve estar disponível
    para a equipe de desenvolvimento, esclarecendo dúvidas, tomando decisões rápidas e adaptando o backlog conforme necessário.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Feedback continuo:</span> É importante coletar feedback dos
    stakeholders e dos usuários finais para ajustar o produto conforme ele evolui.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Entrega de valor:</span> O objetivo principal do Product Owner é garantir que a equipe 
    entregue valor ao cliente a cada iteração, maximizando o retorno sobre o investimento.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Colaboração:</span> O Product Owner trabalha em estreita
    colaboração com a equipe de desenvolvimento, o Scrum Master e os stakeholders para garantir o sucesso do projeto.</p>

</p>


<h2 class="subtitulo">Fundamentos:</h2>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Compreensão dos Stakeholders:</span> O Product Owner deve
    compreender as necessidades, expectativas e perspectivas dos stakeholders, como clientes, usuários, equipes de
    marketing e vendas, e traduzir essas informações em requisitos claros. </p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Especificação dos requisitos:</span> Transformar as necessidades
    dos stakeholders em requisitos detalhados e compreensíveis pela equipe de desenvolvimento é crucial. Os requisitos
    precisam ser claros, concisos e testáveis.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Responsabilidade pela qualidade:</span> Garantir a qualidade do
    produto é parte das responsabilidades do Product Owner. Isso envolve a definição de critérios de aceitação e a
    aprovação das entregas da equipe.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Iteração e adaptação:</span> O Product Owner deve estar disposto a
    adaptar o produto à medida que novas informações e feedback surgem. A flexibilidade e a capacidade de ajustar o
    plano são essenciais.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Comunicação eficaz:</span> Uma comunicação clara e eficaz com
    todos os envolvidos é crucial. Isso inclui atualizar os stakeholders sobre o progresso, os planos e as mudanças no
    produto.</p>
<h2 class="subtitulo">Exemplos Práticos:</h2>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Desenvolvimento do Software: </span> Um Product Owner em uma
    equipe de desenvolvimento de software está trabalhando em um aplicativo de gerenciamento de tarefas. Ele coleta
    feedback de usuários e partes interessadas para priorizar recursos, como adicionar funcionalidade de lembrete de
    tarefas, melhorar a interface do usuário e corrigir bugs. Ele mantém o backlog do produto atualizado com tarefas
    priorizadas e trabalha em estreita colaboração com a equipe de desenvolvimento para garantir que as funcionalidades
    mais valiosas sejam entregues a cada sprint.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Startups de tecnologia: </span> Um Product Owner em uma startup de
    tecnologia desempenha um papel multifuncional. Ele pode ajudar a moldar a visão do produto, realizar pesquisas de
    mercado, criar protótipos, priorizar recursos e colaborar com a equipe de desenvolvimento. O Product Owner em uma
    startup muitas vezes é responsável por pivotar ou ajustar a visão do produto com base nas descobertas do mercado e
    nas mudanças nas necessidades dos clientes.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Aplicativo de receitas culinarias:</span> Um Product Owner de um
    aplicativo de receitas pode decidir adicionar uma função de pesquisa por ingredientes, porque muitos usuários
    solicitaram isso. Ele prioriza essa tarefa e trabalha com a equipe de desenvolvimento para implementá-la.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Blog de viagens:</span> O Product Owner de um blog de viagens
    percebe que os visitantes estão tendo dificuldade em encontrar conteúdo específico por destino. Ele prioriza a
    criação de uma função de pesquisa por localização para melhorar a experiência do usuário.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Loja de roupas online:</span> O Product Owner de uma loja de
    roupas online percebe que a taxa de abandono do carrinho de compras é alta. Ele decide priorizar a otimização do
    processo de checkout, tornando-o mais simples e rápido para os clientes.</p>

<h2 class="subtitulo">Ferramentas para o dia a dia de um Product Owner:</h2>

<p>Existem diversas ferramentas disponíveis para ajudar Product Owners a desempenhar suas funções com eficácia e a
    gerenciar projetos de forma mais eficiente, como por exemplo:</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Trello:</span> O Trello é uma ferramenta de gerenciamento de
    projetos baseada em quadros. É fácil de usar e é útil para organizar tarefas, criar listas de pendências e
    acompanhar o progresso de forma visual.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Monday.com:</span> Essa ferramenta oferece recursos de
    gerenciamento de projetos e colaboração visual. Os Product Owners podem criar painéis personalizados para rastrear o
    progresso e a alocação de recursos.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Slack:</span> O Slack é uma ferramenta de comunicação em equipe
    que permite a interação contínua com a equipe de desenvolvimento, partes interessadas e outros membros da equipe.
</p>

<h2 class="subtitulo">Sugestão de Conteúdo</h2>
<br>

<div class="video-iframe">

    <iframe width="600" height="350"
        src="https://www.youtube.com/embed/x_FtaQC3sM8?si=VSoiuOkVvX78o9kk""
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>

    <p>&nbsp;&nbsp;&nbsp;</p>
    <p>&nbsp;&nbsp;&nbsp;</p>
    <p>&nbsp;&nbsp;&nbsp;</p>
    <p>&nbsp;&nbsp;&nbsp;</p>
    <p>&nbsp;&nbsp;&nbsp;</p>


<span class="flecha">
    <a href="/scrum_master">
        <img src="../static/img/flecha esquerda .png" alt="">
    </a>

    <a href="/dev_team">
        <img src="../static/img/flecha direita .png" alt="">
    </a>
</span>
{% endblock %}


