{% extends "base.html" %}
{% block title %} Proudct Backlog {% endblock %}
{% block content %}
<header>
    <a href="/">
        <img src="../static/img/logo.png" alt="">
    </a>
    <h1 class="titulo">Product Backlog</h1>
</header>

<h2 class="subtitulo">Conceitos do Product Backlog:</h2>
<p>O Product Backlog consiste na definição dos principais requisitos do produto: é composto por uma lista dinâmica e
    priorizada de funcionalidades, melhorias e correções, que devem ser implementadas em um projeto. Ele é uma
    representação dinâmica das necessidades e expectativas do cliente ou do produto em desenvolvimento. Os itens no
    Product Backlog são organizados em ordem de prioridade, com os mais importantes no topo da lista.</p>

<h2 class="subtitulo">Fundamentos:</h2>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Lista Priorizada:</span> Os itens mais importantes e valiosos para
    o cliente estão no topo da lista, enquanto os menos importantes estão no final. </p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Itens do Backlog:</span> Podem ser inclusos novos recursos,
    correções de bugs, melhorias de desempenho, ajustes de design, entre outros. Representando todas as mudanças que
    podem ser necessárias no produto </p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Propriedade do Produto:</span> É de responsabilidade Product Owner
    que deverá garantir que o Product Backlog esteja sempre atualizado e reflete as necessidades do cliente. </p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Estimativas e Valor:</span> Os itens no Product Backlog podem ser
    estimados em termos de esforço necessário para concluí-los. Essa priorização é feita pelo Product Owner com base no
    valor percebido pelo cliente.</p>

<h2 class="subtitulo">Exemplos Práticos:</h2>
<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Desenvolvimento de Recursos de Login:</span> Um item do
    Product Backlog é "Implementar um sistema de login seguro". Para
    a Sprint atual, a equipe detalha as tarefas necessárias, como "Projetar a interface de login", "Desenvolver a
    funcionalidade de validação de senha" e "Configurar a autenticação de dois fatores". Essas tarefas fazem parte
    do Sprint Backlog. </p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Correção de Bugs Prioritários:</span>A equipe recebe uma
    solicitação urgente para corrigir três bugs críticos relatados pelos usuários. Eles
    identificam esses bugs como itens do Sprint Backlog para uma Sprint específica, detalhando as etapas necessárias
    para investigar e resolver cada problema.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Desenvolvimento de uma nova funcionalidade:</span>Um novo
    recurso é solicitado pelo Product Owner. A equipe desdobra esse pedido em tarefas específicas, como
    "Realizar pesquisa de mercado para entender os requisitos do novo recurso", "Projeto de interface de usuário" e
    "Desenvolvimento do código". Todas essas tarefas se tornam parte do Sprint Backlog</p>
    
    <br>

    <div class="video-iframe">
        <iframe width="600" height="350" src="https://www.youtube.com/embed/JZMOAvKpOrw?si=7Bl-ZmlVDBCVPqbS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

<!-- passar pagina -->

<span class="flecha">
    <a href="/modulo2">
        <img src="../static/img/flecha esquerda .png" alt="">
    </a>

    <a href="/">
        <img src="../static/img/home.png" alt="back">
    </a>

    <a href="/sprint_backlog">
        <img src="../static/img/flecha direita .png" alt="">
    </a>

</span>
{% endblock %}
