{% extends "base.html" %}
{% block title %} Product Owner {% endblock %}
{% block content %}
<header>
    <a href="/">
        <img src="../static/img/logo.png" alt="">
    </a>
</header>

<h2 class="subtitulo">Conceitos do Product Owner (P.O):</h2>

<p> O Product Owner é um papel fundamental em equipes que seguem a metodologia ágil, como o Scrum. Os principais
    conceitos associados a esse papel incluem:
<ol>
    <li>Visão do produto:</li> O Product Owner deve ter uma compreensão clara e compartilhada da visão do produto, ou
    seja, entender o propósito e os objetivos do produto que está sendo desenvolvido.
    <li>Priorização:</li> É responsabilidade do Product Owner priorizar o backlog do produto, identificando as
    funcionalidades mais importantes e valiosas para os usuários e o negócio.
    <li>Definição de requisitos:</li> O Product Owner precisa traduzir as necessidades dos stakeholders em requisitos
    claros e detalhados que a equipe de desenvolvimento possa entender e implementar.
    <li>Participação ativa:</li> O Product Owner deve estar disponível para a equipe de desenvolvimento, esclarecendo
    dúvidas, tomando decisões rápidas e adaptando o backlog conforme necessário.
    <li>Feedback contínuo:</li> É importante coletar feedback dos stakeholders e dos usuários finais para ajustar o
    produto conforme ele evolui.
    <li> Entrega de valor:</li> O objetivo principal do Product Owner é garantir que a equipe entregue valor ao cliente
    a cada iteração, maximizando o retorno sobre o investimento.
    <li>Colaboração:</li> O Product Owner trabalha em estreita colaboração com a equipe de desenvolvimento, o Scrum
    Master e os stakeholders para garantir o sucesso do projeto.
</ol>

</p>


<h2 class="subtitulo">Fundamentos do Product Owner:</h2>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Compreensão dos Stakeholders:</span> O Product Owner deve
    compreender as necessidades, expectativas e perspectivas dos stakeholders, como clientes, usuários, equipes de
    marketing e vendas, e traduzir essas informações em requisitos claros. </p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Especificação dos requisitos:</span> Transformar as necessidades
    dos stakeholders em requisitos detalhados e compreensíveis pela equipe de desenvolvimento é crucial. Os requisitos
    precisam ser claros, concisos e testáveis.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Responsabilidade pela qualidade:</span> Garantir a qualidade do
    produto é parte das responsabilidades do Product Owner. Isso envolve a definição de critérios de aceitação e a
    aprovação das entregas da equipe.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Iteração e adaptação:</span> O Product Owner deve estar disposto a
    adaptar o produto à medida que novas informações e feedback surgem. A flexibilidade e a capacidade de ajustar o
    plano são essenciais.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Comunicação eficaz:</span> Uma comunicação clara e eficaz com
    todos os envolvidos é crucial. Isso inclui atualizar os stakeholders sobre o progresso, os planos e as mudanças no
    produto.</p>
<h2 class="subtitulo">Exemplos Práticos do Product Owner:</h2>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Desenvolvimento do Software: </span> Um Product Owner em uma
    equipe de desenvolvimento de software está trabalhando em um aplicativo de gerenciamento de tarefas. Ele coleta
    feedback de usuários e partes interessadas para priorizar recursos, como adicionar funcionalidade de lembrete de
    tarefas, melhorar a interface do usuário e corrigir bugs. Ele mantém o backlog do produto atualizado com tarefas
    priorizadas e trabalha em estreita colaboração com a equipe de desenvolvimento para garantir que as funcionalidades
    mais valiosas sejam entregues a cada sprint.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Startups de tecnologia: </span> Um Product Owner em uma startup de
    tecnologia desempenha um papel multifuncional. Ele pode ajudar a moldar a visão do produto, realizar pesquisas de
    mercado, criar protótipos, priorizar recursos e colaborar com a equipe de desenvolvimento. O Product Owner em uma
    startup muitas vezes é responsável por pivotar ou ajustar a visão do produto com base nas descobertas do mercado e
    nas mudanças nas necessidades dos clientes.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Aplicativo de receitas culinarias:</span> Um Product Owner de um
    aplicativo de receitas pode decidir adicionar uma função de pesquisa por ingredientes, porque muitos usuários
    solicitaram isso. Ele prioriza essa tarefa e trabalha com a equipe de desenvolvimento para implementá-la.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Blog de viagens:</span> O Product Owner de um blog de viagens
    percebe que os visitantes estão tendo dificuldade em encontrar conteúdo específico por destino. Ele prioriza a
    criação de uma função de pesquisa por localização para melhorar a experiência do usuário.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Loja de roupas online:</span> O Product Owner de uma loja de
    roupas online percebe que a taxa de abandono do carrinho de compras é alta. Ele decide priorizar a otimização do
    processo de checkout, tornando-o mais simples e rápido para os clientes.</p>


<!-- passar pagina -->

<span class="flecha">
    <a href="/daily_scrum">
        <img src="../static/img/flecha esquerda .png" alt="">
    </a>

    <a href="/">
        <img src="../static/img/home.png" alt="back">
    </a>

    <a href="/retrospective">
        <img src="../static/img/flecha direita .png" alt="">
    </a>
</span>
{% endblock %}
