{% extends "base.html" %}
{% block title %} Product Increment {% endblock %}
{% block content %}
<header>
    <a href="/">
        <img src="../static/img/logo.png" alt="">
    </a>
</header>

<h2 class="subtitulo">Conceitos e Fundamentos do Product Increment:</h2>
<p>O Product Increment é a soma de todos os ítens do Product Backlog entregues em cada sprint. Ele é baseado
    nas interações anteriores do produto e através dele a equipe poderá realizar uma revisão do desenvolvimento
    das tarefas, podendo assim avaliar, planejar e ajustar as próximas Sprints.
</p>

<h2 class="subtitulo">Exemplos práticos do Product Increment:</h2>
<p><span style="color:rgb(0, 0, 8);font-weight:bold;">1. O que poderá conter:</span> O product Increment, poderá
    englobar aspectos de construção, teste e homologação de cada ítem de backlog da sprint, além dos fatores
    burocráticos
    inerentes a cada negócio.
<p>
<p><span style="color:rgb(0, 0, 8);font-weight:bold;">2. O que não poderá Ocorrer:</span> Caso haja ítens
    "não prontos" ao final da Sprint, esses não deverão fazer parte do Product Increment, pois nele, só poderá conter
    os ítens já concluídos.</p>
<p><span style="color:rgb(0, 0, 8);font-weight:bold;">3. Alguns Benefícios do Product Increment:</span> Redução nas
    taxas de retrabalho, maior qualidade na entrega, Redução
    de time, maior retorno sobre o investimento, aumentar a transparência e reduzir riscos, sem surpresas com o trabalho
    não feito.
</p>

<!-- passar pagina -->

<span class="flecha">
    <a href="/sprint_backlog">
        <img src="../static/img/flecha esquerda .png" alt="">
    </a>

    <a href="/">
        <img src="../static/img/home.png" alt="back">
    </a>

    <a href="/teste_modulo2">
        <img src="../static/img/flecha direita .png" alt="">
    </a>

</span>
{% endblock %}