{% extends "base.html" %}
{% block title %} Product Increment {% endblock %}
{% block nav %}Product Increment{% endblock %}
{% block content %}
<h2 class="subtitulo">Conceitos Product Increment:</h2>
<p>O Product Increment é a soma de todos os ítens do Product Backlog entregues em cada sprint. Ele é baseado
    nas interações anteriores do produto e através dele a equipe poderá realizar uma revisão do desenvolvimento
    das tarefas, podendo assim avaliar, planejar e ajustar as próximas Sprints. É uma prática fundamental que garante
    que a equipe entregue valor de forma consistente e regular, proporcionando oportunidades contínuas para revisão,
    feedback e melhoria</p>

<h2 class="subtitulo">Fundamentos:</h2>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Resultados Tangíveis:</span> O Sprint Increment é algo concreto,
    seja um novo recurso, funcionalidade, melhoria ou correção de bug que é adicionado ao produto. É algo que pode ser
    demonstrado aos stakeholders. </p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Potencialmente intregável:</span> : Isso significa que o
    Incremento é de alta qualidade e pronto para ser entregue aos usuários ou clientes, caso a equipe decida fazê-lo.
    Idealmente, no final de cada sprint, há algo de valor que poderia ser lançado se a equipe desejar. </p>

<h2 class="subtitulo">Exemplos Práticos:</h2>

<p><span style="color:rgb(0, 0, 0);font-weight:bold;">Revisão do Sprint: </span> No final do sprint, a equipe realiza
    uma Revisão do Sprint, onde demonstra o Incremento aos stakeholders. Durante esta reunião, os stakeholders têm a
    oportunidade de fornecer feedback sobre o trabalho realizado.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;"> Retrospectiva da Sprint:</span> Após a Revisão do Sprint, a
    equipe realiza uma Retrospectiva do Sprint para refletir sobre o sprint e identificar maneiras de melhorar. Eles
    discutem o que funcionou bem em relação ao Incremento e o que poderia ser melhorado no próximo sprint. </p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Aceitação do Incremento:</span> O Incremento é considerado aceito
    quando atende aos critérios de aceitação definidos. Esses critérios são acordados entre o Product Owner e a equipe
    no início do sprint e servem como padrão para determinar se o trabalho está completo. </p>

    <br>

    <div class="video-iframe">
        <iframe width="600" height="350" src="https://www.youtube.com/embed/TLgPwYvX5dk?si=CafRKg2pDU3C-jxO" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
        
    </div>

<!-- passar pagina -->

<span class="flecha">
    <a href="/sprint_backlog">
        <img src="../static/img/flecha esquerda .png" alt="">
    </a>


    <a href="/teste_modulo2">
        <img src="../static/img/flecha direita .png" alt="">
    </a>

</span>
{% endblock %}
