<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productbacklog</title>
</head>

<body>
    <!-- cabeçalho -->
    <img src="./imagens/logo1.png" alt="logo1">
    </span>Product Backlog</span>
    <!-- fimcabeçalho -->

    <!-- conceitos -->
    <h3>Conceitos</h3>
    <p>O Sprint Backlog é uma lista de tarefas específicas e detalhadas que a equipe de desenvolvimento seleciona a
        partir do Product Backlog para serem realizadas durante uma Sprint. Ele representa o trabalho concreto e
        detalhado que a equipe compromete-se a concluir durante o Período da Sprint.</p>
    <h3>Exemplos Práticos</h3>
    <p>Imagine que uma equipe de desenvolvimento esteja trabalhando em um projeto de desenvolvimento de software usando
        Scrum. </p>
    <p>Aqui estão alguns exemplos práticos do Sprint Backlog: </p>
    <p><span style="color:rgb(0, 0, 8);font-weight:bold;">Desenvolvimento de Recursos de Login:</span> Um item do
        Product Backlog é "Implementar um sistema de login seguro". Para
        a Sprint atual, a equipe detalha as tarefas necessárias, como "Projetar a interface de login", "Desenvolver a
        funcionalidade de validação de senha" e "Configurar a autenticação de dois fatores". Essas tarefas fazem parte
        do Sprint Backlog. </p>
    <p><span style="color:rgb(0, 0, 8);font-weight:bold;">Correção de Bugs Prioritários:</span>A equipe recebe uma
        solicitação urgente para corrigir três bugs críticos relatados pelos usuários. Eles
        identificam esses bugs como itens do Sprint Backlog para uma Sprint específica, detalhando as etapas necessárias
        para investigar e resolver cada problema.
    </p>
    <p><span style="color:rgb(0, 0, 8);font-weight:bold;">Desenvolvimento de uma nova funcionalidade:</span>Um novo
        recurso é solicitado pelo Product Owner. A equipe desdobra esse pedido em tarefas específicas, como
        "Realizar pesquisa de mercado para entender os requisitos do novo recurso", "Projeto de interface de usuário" e
        "Desenvolvimento do código". Todas essas tarefas se tornam parte do Sprint Backlog</p>

    <!-- fimconceitos -->

    <!-- rodape -->
    <img src="./imagens/botaodeinicio.png" alt="botaodeinicio">
    <span><img src="./imagens/setadireita.png" alt="setadireitaavancar"></span>
    <!-- fimrodape -->
</body>

</html>