{% extends "base.html" %}
{% block title %} Retrospective {% endblock %}
{% block nav %}Retrospective{% endblock %}
{% block content %}
<p>&nbsp;&nbsp;&nbsp;</p>
<h2 class="subtitulo">Conceitos da Reunião Restrospective:</h2>

<p> A Sprint Retrospective é uma reunião que ocorre ao final de cada sprint no método Scrum,
    após a Sprint Review. Seu propósito é permitir que a equipe Scrum reveja a sprint que acabou
    de ser concluída e identifique o que funcionou bem (para continuar fazendo) e o que poderia
    ser melhorado. O foco está em processos e práticas, não em críticas pessoais. O resultado da
    Sprint Retrospective é um conjunto de ações para aprimorar a próxima sprint.</p>

<h2 class="subtitulo">Fundamentos:</h2>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Reflexão Coletiva: </span>Reflexão Coletiva: A Sprint
    Retrospective é uma oportunidade para toda a equipe Scrum se
    reunir e refletir sobre a sprint passada. Isso inclui desenvolvedores, Scrum Master e, em alguns
    casos, o Product Owner.</p>
<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Foco em Processos:</span> A discussão se concentra em
    processos, práticas, colaboração e
    interações da equipe, não em avaliações individuais ou críticas pessoais.</p>
<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Formato Aberto:</span> As discussões geralmente são conduzidas
    de forma aberta e honesta,
    permitindo que os membros da equipe expressem suas opiniões e preocupações livremente.</p>
<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Identificação de Melhorias:</span> Durante a Sprint
    Retrospective, a equipe identifica aspectos que
    podem ser melhorados na próxima sprint. Isso pode incluir aprimoramentos na comunicação,
    no planejamento, na colaboração ou em outras áreas relevantes.</p>
<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Ações Concretas:</span> A equipe decide sobre ações concretas
    que serão implementadas na
    próxima sprint para abordar as áreas de melhoria identificadas. Essas ações são registradas e
    monitoradas pela Scrum Master.</p>

<h2 class="subtitulo">Exemplos Práticos:</h2>
<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Desenvolvimento de Software:</span> Após uma sprint de duas
    semanas, a equipe de
    desenvolvimento realiza uma Sprint Retrospective. Eles identifiram que houve atrasos nas
    entregas das tarefas devido aos problemas de comunicação. Como ação, eles decidem realizar
    reuniões diárias mais curtas e eficazes durante a próxima sprint para melhorar a comunicação
    e evitar atrasos semelhantes.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Marketing Digital:</span> Após uma sprint de quatro semanas, a
    equipe de marketing analisa o
    desempenho de suas campanhas. Eles notam que algumas campanhas tiveram melhor
    desempenho do que as outras. Como ação, eles decidem alocar mais recursos e foco nas
    táticas que geraram resultados mais positivos</p>

<h2 class="subtitulo">Sugestão de Conteúdo</h2>
<br>

<div class="video-iframe">

    <iframe width="600" height="350" src="https://www.youtube.com/embed/iOGGEEd9948?si=gAqiG0i6PvF-zdTN"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>

    <p>&nbsp;&nbsp;&nbsp;</p>
    <p>&nbsp;&nbsp;&nbsp;</p>
    <p>&nbsp;&nbsp;&nbsp;</p>
    <p>&nbsp;&nbsp;&nbsp;</p>
    <p>&nbsp;&nbsp;&nbsp;</p>


    <span class="flecha">
        <a href="/sprint_review">
            <img src="../static/img/flecha esquerda .png" alt="">
        </a>

        <a href="/teste_modulo3">
            <img src="../static/img/flecha direita .png" alt="">
        </a>
    </span>
    {% endblock %}