{% extends "base.html" %}
{% block title %} Scrum Master {% endblock %}
{% block nav %}Scrum Master{% endblock %}
{% block content %}
<p>&nbsp;&nbsp;&nbsp;</p>

<h2 class="subtitulo">Conceitos do Scrum Master:</h2>

<p> O Scrum Master é um papel fundamental na metodologia ágil Scrum, desempenhando várias
    funções-chave para facilitar o
    desenvolvimento de produtos de maneira eficaz. Aqui estão os principais conceitos associados a
    um Scrum Master:</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Facilitador:</span> O Scrum Master atua como
    um facilitador,
    garantindo que as práticas e eventos do Scrum sejam realizados de maneira adequada. Eles ajudam
    a equipe a entender
    e aderir aos princípios e regras do Scrum.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Servidor Líder:</span> O Scrum Master lidera,
    mas também serve à
    equipe. Eles não são gerentes no sentido tradicional, mas apoiam a equipe, removendo
    impedimentos, facilitando a
    colaboração e auxiliando no autogerenciamento da equipe.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Remoção de impedimentos:</span> Um dos
    principais papéis do Scrum
    Master é identificar e remover obstáculos que possam afetar o progresso da equipe. Isso pode
    envolver a resolução de
    problemas, coordenação com outras equipes ou comunicação com partes interessadas.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Melhoria contínua:</span> O Scrum Master
    promove a melhoria
    contínua da equipe, ajudando a identificar oportunidades de aprimoramento e facilitando a
    adaptação das práticas do
    Scrum para maximizar a eficiência.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Proteção da equipe:</span> O Scrum Master
    protege a equipe contra
    interrupções externas e pressões não razoáveis, permitindo que a equipe se concentre em suas
    metas e no trabalho a
    ser realizado durante o sprint.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Facilitador de eventos:</span> O Scrum Master
    lidera a realização
    dos eventos do Scrum, como a Reunião de Planejamento da Sprint, a Reunião Diária, a Revisão da
    Sprint e a
    Retrospectiva da Sprint.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Foco na transparência:</span> O Scrum Master
    promove a
    transparência, incentivando a equipe a compartilhar informações sobre seu progresso, desafios e
    conquistas com todas
    as partes interessadas.</p>

</p>

<h2 class="subtitulo">Fundamentos:</h2>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Defensa do Scrum:</span> O Scrum Master é
    um defensor do Scrum e
    ajuda a equipe a aderir aos valores e princípios ágeis, bem como a se manter focada em seu
    compromisso de entregar
    valor ao cliente. </p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Mediação e resolução de conflitos:</span>
    Quando surgem conflitos
    dentro da equipe ou com outras partes interessadas, o Scrum Master atua como mediador e
    ajuda a encontrar soluções
    colaborativas.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Facilitação de colaboração:</span> O Scrum
    Master incentiva a
    colaboração dentro da equipe, bem como entre a equipe e outras partes interessadas, como o
    Product Owner e
    stakeholders.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Resolução de impedimentos:</span> O Scrum
    Master identifica
    impedimentos que podem afetar o progresso da equipe e trabalha para removê-los. Isso pode
    envolver a resolução de
    problemas, coordenação com outras equipes ou comunicação com partes interessadas.</p>

</div>


<h2 class="subtitulo">Exemplos Práticos:</h2>

<p>A função do Scrum Master é muitas vezes melhor compreendida por meio de exemplos práticos de
    como eles atuam na
    facilitação do processo Scrum e no apoio à equipe. Abaixo temos alguns exemplos práticos de
    atividades que um Scrum
    Master pode realizar.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Reunião diária: </span> O Scrum Master
    facilita a reunião diária,
    garantindo que ela ocorra no horário agendado. Eles ajudam a equipe a focar na discussão das
    atividades em
    andamento, removendo obstáculos e mantendo o foco nas metas do sprint.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Retrospectiva da Sprint: </span> O Scrum
    Master lidera a
    retrospectiva da sprint, incentivando a equipe a refletir sobre o sprint anterior. Eles
    promovem uma atmosfera de
    abertura e colaboração, onde os membros da equipe podem identificar o que funcionou bem e o
    que pode ser melhorado.
</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Remoção de obstáculos:</span> Quando a
    equipe encontra
    impedimentos que a impedem de progredir, o Scrum Master intervém para resolvê-los. Isso pode
    envolver a coordenação
    com outras equipes, o envolvimento de partes interessadas ou a resolução de problemas que
    afetam o progresso da
    equipe.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Treinamento em práticas ágeis:</span> O
    Scrum Master pode fornecer
    treinamento sobre práticas ágeis e Scrum a novos membros da equipe ou à organização como um
    todo.</p>

<p>Esses exemplos práticos ilustram o papel ativo do Scrum Master na facilitação e no suporte à
    equipe ágil, garantindo
    que ela siga os princípios do Scrum e alcance seus objetivos de forma eficiente. O Scrum
    Master desempenha um papel
    de liderança servidora para promover a agilidade e o sucesso da equipe.</p>

</div>


<h2 class="subtitulo">Ferramentas para o dia a dia de um Scrum Master:</h2>

<p>O Scrum Master utiliza várias ferramentas no dia a dia para facilitar o processo Scrum e
    apoiar a equipe, como por exemplo:</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">JIRA:</span> O JIRA é uma ferramenta
    popular para rastreamento de tarefas,
    gerenciamento de projetos e colaboração em equipes ágeis. Ele ajuda o Scrum Master a manter
    o backlog atualizado, rastrear o
    progresso da equipe e gerenciar sprints.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Miro:</span> O Miro é uma plataforma de
    colaboração online que ajuda a criar
    quadros colaborativos para brainstorming, mapeamento de conceitos e design de produtos</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Zoom ou Microsoft Teams:</span>
    Ferramentas de videoconferência como Zoom e Microsoft
    Teams são úteis para a realização de reuniões de equipe, reuniões diárias e outras
    interações remotas.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Confluence:</span> Também da Atlassian, o
    Confluence é uma ferramenta de colaboração que
    permite criar documentação, manuais e páginas de informações relevantes para o projeto
    Scrum.</p>


<h2 class="subtitulo">Sugestão de Conteúdo</h2>
<br>

<div class="video-iframe">

    <iframe width="600" height="350" src="https://www.youtube.com/embed/EreESRPfCXk?si=LbPlVzllcmHDlnzi"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>

    <p>&nbsp;&nbsp;&nbsp;</p>
    <p>&nbsp;&nbsp;&nbsp;</p>
    <p>&nbsp;&nbsp;&nbsp;</p>
    <p>&nbsp;&nbsp;&nbsp;</p>
    <p>&nbsp;&nbsp;&nbsp;</p>

    <span class="flecha">
        <a href="/">
            <img src="../static/img/flecha esquerda .png" alt="">
        </a>

        <a href="/product_owner">
            <img src="../static/img/flecha direita .png" alt="">
        </a>
    </span>
</div>
</div>
</div>
</div>
</div>
{% endblock %}