{% extends "base.html" %}
{% block title %} Sprint Backlog {% endblock %}
{% block nav %}Sprint Backlog{% endblock %}
{% block content %}
<h2 class="subtitulo">Conceitos da Sprint Backlog:</h2>
<p>A Sprint Backlog é uma lista de tarefas específicas e detalhadas, selecionada a partir do Product Backlog para ser
    realizada durante uma Sprint. Ela representa, assim, o trabalho concreto que a equipe compromete-se em concluir ate
    o final da mesma.</p>

<h2 class="subtitulo">Fundamentos:</h2>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Seleção de itens:</span> E durante a Reunião de Planejamento da
    Sprint atual, que o Product Owner juntamente com a equipe Scrum, seleciona os itens do Product Backlog que serão
    incluídos na mesma. Esses itens são escolhidos com base na prioridade e na capacidade da equipe para realizar as
    tarefas, durante a Sprint.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Propriedade da equipe:</span> A Sprint Backlog é de propriedade
    exclusiva da equipe de desenvolvimento, que tem como responsábilidade, organizar o trabalho e
    garantir que os itens do Sprint Backlog sejam concluídos dentro do prazo previsto. </p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Planejamento detalhado:</span>Após a seleção dos itens da Sprint
    Backlog, é realizado um planejamento detalhado, para a divisão dos itens em tarefas menores, definição de critérios,
    e estimativa do esforço necessário para cada uma delas. Esse detalhamento, ajuda a equipe a entender o trabalho que
    precisa ser feito e criar um plano claro para alcançar o objetivo do Sprint. </p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">transparência:</span> A Sprint Backlog é uma ferramenta
    transparente e visível para todos os membros da equipe Scrum. Ela fornece uma visão clara do trabalho que está sendo
    realizado durante a Sprint. Isso ajuda a equipe a monitorar o progresso, identificar obstáculos e tomar decisões
    informadas para alcançar os objetivos da Sprint. </p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Adaptibilidade:</span> A Sprint Backlog é dinâmico e pode ser
    ajustado durante a Sprint. Se surgirem novas informações ou se houverem mudanças nas prioridades, a equipe pode
    adicionar, modificar ou remover itens do Sprint Backlog. Permitindo que a equipe responda às mudanças de forma ágil</p>

<h2 class="subtitulo">Exemplos Práticos:</h2>

<p><span style="color:rgb(0, 0, 0);font-weight:bold;">Desenvolvimento de um Aplicativo Móvel: </span> No Product
    Backlog, podem estar listados itens como "Criar tela de login", "Implementar funcionalidade de pesquisa",
    "Adicionar opção de pagamento" e "Corrigir bugs de desempenho". Cada um desses itens representa uma
    funcionalidade ou correção desejada para o aplicativo.<p>
        
<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Projeto de um Site de Comércio Eletrônico: </span>O Product
    Backlog pode incluir itens como "Melhorar a página de carrinho de compras", "Adicionar filtro de pesquisa
    avançada", "Implementar um sistema de avaliações de produtos" e "Otimizar a página de pagamento". Cada item é
    uma melhoria ou recurso planejado para o site.</p>
    
<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Desenvolvimento de um Software Corporativo:</span>No contexto
    empresarial, o Product Backlog pode conter itens como "Integrar o software com sistemas de contabilidade",
    "Desenvolver um painel de relatórios personalizado", "Adicionar suporte para vários idiomas" e "Resolver
    problemas de segurança identificados em auditoria". Cada item representa uma necessidade específica da empresa
    ou dos usuários.</p>

    <br>

    <div class="video-iframe">

        <iframe width="600" height="350" src="https://www.youtube.com/embed/lA6_-sorVt4?si=K3gKrNdzvi7Zxh5k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        
    </div>

<!-- passar pagina -->

<span class="flecha">
    <a href="/product_backlog">
        <img src="../static/img/flecha esquerda .png" alt="">
    </a>

    <a href="/">
        <img src="../static/img/home.png" alt="back">
    </a>

    <a href="/product_increment">
        <img src="../static/img/flecha direita .png" alt="">
    </a>
</span>
{% endblock %}

