<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sprintbacklog</title>
</head>

<body>
    <!-- cabeçalho -->
    <img src="./imagens/logo1.png" alt="logo1">
    <span>Sprint Backlog</span>
    <!-- fimcabeçalho -->

    <!-- conceitos -->
    <h3>Conceitos</h3>
    <p>O Sprint Backlog é uma lista de tarefas específicas e detalhadas que a equipe de desenvolvimento seleciona a
        partir do Product Backlog para serem realizadas durante uma Sprint. Ele representa o trabalho concreto e
        detalhado que a equipe compromete-se a concluir durante o Período da Sprint.</p>
    <h3>Exemplos Práticos</h3>
    <p>Imagine que uma equipe de desenvolvimento esteja trabalhando em um projeto de desenvolvimento de software usando
        Scrum.</p>
    </p> Aqui estão alguns exemplos práticos do Sprint Backlog:</p>
    <p><span style="color:rgb(0, 0, 8);font-weight:bold;">Desenvolvimento de um Aplicativo Móvel: </span> No Product
        Backlog, podem estar listados itens como "Criar tela de login", "Implementar funcionalidade de pesquisa",
        "Adicionar opção de pagamento" e "Corrigir bugs de desempenho". Cada um desses itens representa uma
        funcionalidade ou correção desejada para o aplicativo.
    <p>
    <p><span style="color:rgb(0, 0, 8);font-weight:bold;">Projeto de um Site de Comércio Eletrônico: </span>O Product
        Backlog pode incluir itens como "Melhorar a página de carrinho de compras", "Adicionar filtro de pesquisa
        avançada", "Implementar um sistema de avaliações de produtos" e "Otimizar a página de pagamento". Cada item é
        uma melhoria ou recurso planejado para o site.</p>
    <p><span style="color:rgb(0, 0, 8);font-weight:bold;">Desenvolvimento de um Software Corporativo:</span>No contexto
        empresarial, o Product Backlog pode conter itens como "Integrar o software com sistemas de contabilidade",
        "Desenvolver um painel de relatórios personalizado", "Adicionar suporte para vários idiomas" e "Resolver
        problemas de segurança identificados em auditoria". Cada item representa uma necessidade específica da empresa
        ou dos usuários.</p>
    <!-- fimconceitos -->
   
    <!-- rodape -->
    <span><img src="./imagens/setaesqueda.png" alt="setaesquerda"></span>
    <img src="./imagens/botaodeinicio.png" alt="botaodeinicio">
    <span><img src="./imagens/setadireita.png" alt="setadireitaavancar"></span>
    <!-- fimrodape -->
</body>

</html>