{% extends "base.html" %}
{% block title %} Sprint Planning {% endblock %}
{% block content %}
<header>
    <a href="/">
        <img src="../static/img/logo.png" alt="">
    </a>
    <h1 class="titulo">Sprint Planning</h1>
</header>

<h2 class="subtitulo">Conceitos da Sprint Planning:</h2>

<p>A sprint Planning é uma cerimônia essencial no framework Scrum, usada para planejar o que
    será desenvolvido durante a próxima sprint. Durante essa reunião, a equipe de
    desenvolvimento, o Scrum Master e o Product Owner colaboram para definir o objetivo da
    Sprint, identificar as tarefas a serem realizadas e estimar o esforço necessário para concluí-las.</p>

<h2 class="subtitulo">Fundamentos:</h2>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Preparação:</span> Antes da reunião, o Product Owner
    (responsável por definir os requisitos) revisa o
    Product Backlog e garante que os itens estejam bem priorizados e prontos para serem trabalhados.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Sprint Goal:</span> O Product Owner apresenta a meta da
    sprint, que é o resultado que a equipe
    pretende alcançar durante a período de 21 dias. A meta deve ser clara e mensurável.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Seleção de Itens:</span> A equipe Scrum discute os itens do
    Product Backlog e seleciona aqueles
    que serão incluídos na Sprint Backlog. Isso é feito com base na prioridade e na capacidade da
    equipe.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Desdobramento de tarefas:</span> A equipe quebra os itens
    selecionados em tarefas menores,
    identificando as ações específicas necessárias para concluir cada item. Isso ajuda a equipe a
    entender o trabalhos em detalhes.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Estimativas:</span> A equipe estima o esforço necessário para
    concluir cada tarefa. Isso pode ser
    feito usando técnicas como o Planning Poker.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Compromisso:</span> A equipe se compromete em concluir a
    tarefa definido na Sprint Backlog
    durante a sprint. Isso cria um compromisso firme com as metas que foram definidas no início
    do processo.</p>

<h2 class="subtitulo">Exemplos Práticos:</h2>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Desenvolvimento de Software:</span> Uma equipe de
    desenvolvimento de software realiza uma
    Sprint Planning no início de uma sprint de duas semanas. O Product Owner apresenta a meta
    da sprint de implementar uma nova funcionalidade de login. A equipe seleciona itens
    relacionados a essa funcionalidade no Product Backlog, que inclui tarefas como design,
    desenvolvimento e testes. Eles estimam o esforço necessário para cada tarefa e definem o
    Sprint Backlog com as tarefas que acreditam que podem concluir durante o sprint.</p>

<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Marketing Digital:</span> Uma equipe de marketing digital
    realiza uma Sprint Planning para uma
    sprint de três semanas. O objetivo da sprint é executar uma campanha publicitária nas redes
    sociais para promover um novo produto. Durante a reunião, eles selecionam os principais
    elementos da campanha, como o conteúdo a ser criado, as datas de postagens e os canais de
    distribuição. Eles estimam o tempo necessário para cada tarefa e definem a Sprint Backlog
    com as atividades a serem realizadas.</p>

    <br>

    <div class="video-iframe">
        
        <iframe width="600" height="350" src="https://www.youtube.com/embed/row2HVY5lLA?si=T11g-OSwU34mry_9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    </div>

<!-- passar pagina -->

<span class="flecha">
    <a href="/modulo3">
        <img src="../static/img/flecha esquerda .png" alt="">
    </a>

    <a href="/">
        <img src="../static/img/home.png" alt="back">
    </a>

    <a href="/daily_scrum">
        <img src="../static/img/flecha direita .png" alt="">
    </a>
</span>
{% endblock %}
