<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sprint Review</title>
</head>
<body>

    <h2>Conceito:</h2>

    <p>O Sprint Review é uma reunião que ocorre ao final de cada sprint no método Scrum. Sua 
    finalidade é demonstrar o trabalho concluído durante o decorrer da sprint e obter feedback dos 
    stakeholders, incluindo o Product Owner, clientes, usuários finais ou outros interessados. O 
    Sprint Review é uma oportunidade para a equipe de desenvolvimento mostrar suas funcionalidades 
    ou melhorias implementadas e discutir como o produto evoluiu durante todo o processo.</p>

    <h2>Fundamentos:</h2>

    <p>Demonstração do Trabalho Concluído: Durante o Sprint Review, a equipe de desenvolvimento 
    apresenta as funcionalidades ou melhorias que foram implementadas durante a sprint. 
    Isso envolve demonstrar o software ou produto, mostrando como ele funciona na prática.</p>

    <p>Feedback dos Stakeholders: Os stakeholders, incluindo o Product Owner e outros 
    interessados, têm a oportunidade de fornecer feedback sobre o que foi entregue. Isso pode 
    incluir sugestões, perguntas ou até mesmo alterações de prioridade com base no que foi 
    demonstrado.</p>

    <p>Avaliação da Meta do Sprint: Durante a Sprint Review, a equipe verifica se a meta da sprint, 
    definida durante o Sprint Planning, foi alcançada. Isso ajuda a determinar se a sprint foi bem
    sucedido em atender aos objetivos.</p>

    <p>Adaptação e Planejamento Futuro: Com base no feedback recebido e na demonstração do 
    trabalho, a equipe e o Product Owner podem adaptar o Product Backlog, priorizando e 
    planejando a próximo sprint com base no que foi aprendido durante a Sprint Review.</p>

    <h2>Exemplos Práticos:</h2>

    <p>Desenvolvimento de Software: Uma equipe de desenvolvimento de software realiza uma 
    Sprint Review ao final de uma sprint de duas semanas. Durante a reunião, eles demonstram as 
    novas funcionalidades que foram implementadas, como uma página de perfil do usuário e uma 
    funcionalidade de pesquisa avançada. O Product Owner, juntamente com representantes de 
    marketing e suporte ao cliente, fornecem feedback sobre a usabilidade e a adequação dessas 
    funcionalidades às necessidades do cliente.</p>

    <p>Design de Produto: Uma equipe de design de produto realiza uma Sprint Review após uma 
    sprint de três semanas. Eles mostram os protótipos e as soluções de design que 
    desenvolveram durante a sprint. O feedback é fornecido por stakeholders, incluindo gerentes 
    de produtos e desenvolvedores, que avaliam a viabilidade técnica das propostas de design.</p>

    
    
</body>
</html>