{% extends "base.html" %}
{% block title %} Sprint Backlog {% endblock %}
{% block content %}
<header>
    <a href="/">
        <img src="../static/img/logo.png" alt="">
    </a>
</header>

<h2 class="subtitulo">Conceitos e Fundamentos da Sprint Backlog:</h2>
<p>A Sprint Backlog é uma lista de tarefas específicas e detalhadas que a equipe de desenvolvimento seleciona a
    partir do Product Backlog para serem realizadas durante uma Sprint. Ele representa o trabalho concreto e
    detalhado que a equipe compromete-se a concluir durante o Período da Sprint.</p>

<h2 class="subtitulo">Exemplos práticos da Sprint Backlog:</h2>
<p><span style="color:rgb(0, 0, 0);font-weight:bold;">Desenvolvimento de um Aplicativo Móvel: </span> No Product
    Backlog, podem estar listados itens como "Criar tela de login", "Implementar funcionalidade de pesquisa",
    "Adicionar opção de pagamento" e "Corrigir bugs de desempenho". Cada um desses itens representa uma
    funcionalidade ou correção desejada para o aplicativo.
<p>
<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Projeto de um Site de Comércio Eletrônico: </span>O Product
    Backlog pode incluir itens como "Melhorar a página de carrinho de compras", "Adicionar filtro de pesquisa
    avançada", "Implementar um sistema de avaliações de produtos" e "Otimizar a página de pagamento". Cada item é
    uma melhoria ou recurso planejado para o site.</p>
<p><span style="color:rgb(0, 0, 8);font-weight:bold;">Desenvolvimento de um Software Corporativo:</span>No contexto
    empresarial, o Product Backlog pode conter itens como "Integrar o software com sistemas de contabilidade",
    "Desenvolver um painel de relatórios personalizado", "Adicionar suporte para vários idiomas" e "Resolver
    problemas de segurança identificados em auditoria". Cada item representa uma necessidade específica da empresa
    ou dos usuários.</p>

<!-- passar pagina -->

<span class="flecha">
    <a href="/product_backlog">
        <img src="../static/img/flecha esquerda .png" alt="">
    </a>

    <a href="/">
        <img src="../static/img/home.png" alt="back">
    </a>

    <a href="/product_increment">
        <img src="../static/img/flecha direita .png" alt="">
    </a>
</span>
{% endblock %}