<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Developer</title>
</head>
<header> <img src="./imagens/logo1.png" alt="logo1">
</header>

<body>
    <h1>Team Developer</h1>

    <p>O time de desenvolvimento é o coração do framework Scrum, composto por profissionais que trabalham juntos para
        entregar incrementos de produto de alta qualidade. Vamos explorar os fundamentos e conceitos do papel do Team
        Developer, bem como apresentar cinco exemplos práticos do seu trabalho no contexto do Scrum.</p>

    <h2>Fundamentos e Conceitos</h2>

    <p>O time de desenvolvimento é uma parte essencial do Scrum e adota os seguintes fundamentos:</p>

    <p><strong>1. Auto-organização:</strong> O time de desenvolvimento é responsável por planejar, executar e entregar
        o trabalho de forma autônoma, tomando decisões sobre como atingir os objetivos da Sprint.</p>

    <p><strong>2. Colaboração:</strong> A equipe trabalha em estreita colaboração, promovendo a comunicação constante e
        o compartilhamento de conhecimento para atingir metas e objetivos.</p>

    <p><strong> 3. Entrega Incremental:</strong> A equipe entrega incrementos de produto a cada Sprint, garantindo que o
        produto seja continuamente melhorado e adaptado às necessidades do cliente.</p>

    <p><strong> 4. Compromisso com a Qualidade:</strong> A equipe se esforça para manter altos padrões de qualidade,
        realizando testes, revisões e melhorias contínuas no produto.</p>

    <h2>Aplicação com exemplos práticos</h2>

    <p>Logo abaixo estão alguns exemplos práticos que ilustram o papel do Team Developer no Scrum:

    <p><strong> 1. Planejamento da Sprint:</strong> A equipe de desenvolvimento participa ativamente na reunião de
        planejamento da Sprint, ajudando a selecionar as tarefas que podem ser realizadas durante a Sprint e estimando o
        esforço necessário para cada item do backlog.</p>

    <p><strong>2. Desenvolvimento de Funcionalidades:</strong> Durante a Sprint, a equipe trabalha juntos para
        desenvolver as funcionalidades planejadas, dividindo o trabalho de forma colaborativa e assegurando que as
        entregas parciais sejam testadas e funcionem corretamente.</p>

    <p><strong> 3. Autoavaliação:</strong> Na Sprint Retrospective, o time de desenvolvimento se autoavalia,
        identificando melhorias para o processo de desenvolvimento e discutindo como podem ser mais eficazes na próxima
        Sprint.</p>

    <p><strong>4. Testes e Garantia de Qualidade:</strong> A equipe realiza testes, revisões de código e verifica a
        qualidade das funcionalidades desenvolvidas, assegurando que atendam aos padrões de qualidade estabelecidos.</p>

    <p><strong>5. Colaboração com o Product Owner:</strong> A equipe trabalha em estreita colaboração com o Product
        Owner, esclarecendo requisitos, discutindo prioridades e buscando feedback constante para garantir que o produto
        atenda às expectativas do cliente.</p>

    <p>O time de desenvolvimento é essencial para o sucesso do Scrum, pois são eles que transformam os requisitos em
        incrementos de produto. Ao abraçar os fundamentos e aplicar conceitos na prática, o time de desenvolvimento
        desempenha um papel vital na entrega de produtos de alta qualidade e na busca contínua pela satisfação do
        cliente.</p>

</body>

</html>