{% extends "base.html" %}
{% block title %} Teste 2 {% endblock %}
{% block content %}
<header>
    <a href="/modulo2">
        <img src="../static/img/logo.png" alt="logo">
    </a>
    <div class="title">
        <h1><b>Bem-vindo ao Teste de Aprendizado Módulo 2</b>
            <h1>
    </div>
</header>

<div class="content">

    <form action="/send" method="post">
        <h1>Questionário</h1>

        <div class="question">
            <div><b>Pergunta 1:</b>Qual das seguintes afirmações sobre o Product Backlog está correta? </p></div>
            <input type="radio" name="q1" value="a">A)É uma lista de tarefas detalhadas para a próxima Sprint.<br>
            <input type="radio" name="q1" value="b">B)Deve ser priorizado pelo Scrum Master.<br>
            <input type="radio" name="q1" value="c">C)Contém apenas requisitos de alta prioridade.<br>
            <input type="radio" name="q1" value="d">D)Evolui continuamente à medida que novos requisitos surgem.<p>
        </div>

        <div class="question">
            <div><b>Pergunta 2:</b>Qual é a principal função da Sprint Backlog? </p>
            <input type="radio" name="q2" value="a">A)Definir os objetivos do produto.<br>
            <input type="radio" name="q2" value="b">B)Detalhar o Product Backlog para o próximo trimestre.<br>
            <input type="radio" name="q2" value="c">C)Identificar impedimentos no projeto.<br>
            <input type="radio" name="q2" value="d">D)Planejar o trabalho da equipe para a Sprint atual.<p>
        </div>

        <div class="question">
            <b>Pergunta 3:</b>O que é um Product Increment?</p>
            <input type="radio" name="q3" value="a">A)Um relatório de progresso da equipe.<br>
            <input type="radio" name="q3" value="b">B)Uma lista de tarefas de baixa prioridade no Product Backlog.<br>
            <input type="radio" name="q3" value="c">C)Uma versão potencialmente entregável do produto após o término da Sprint.<br>
            <input type="radio" name="q3" value="d">D)Um documento de planejamento de projeto.<p>
        </div>
        <div class="question">
            <b>Pergunta 4:</b> Quem é geralmente responsável por priorizar os itens no Product Backlog? </p>
            <input type="radio" name="q4" value="a">A)A equipe de desenvolvimento.<br>
            <input type="radio" name="q4" value="b">B)Os stakeholders.<br>
            <input type="radio" name="q4" value="c">C)O Scrum Master.<br>
            <input type="radio" name="q4" value="d">D)O Product Owner.<br>
        </div>
        
        <input type="submit" value="Enviar">


    </form>
</div>
<a href="/conclusao2">
    <button class="button">
        <h2><i><b>Finalizar</b></i></h2>
    </button>
</a>
{% endblock %}