{% extends "base.html" %}
{% block title %} Teste 3 {% endblock %}
{% block content %}
<header>
    <a href="/modulo3">
        <img src="../static/img/logo.png" alt="logo">
    </a>
    <div class="title">
        <h1><b>Bem-vindo ao Teste de Aprendizado Módulo 3</b>
            <h1>
    </div>
</header>

<div class="content">

    <div><b>Questão 1:</b> Como é chamada a reunião diária para acompanhamento do projeto?</div>

    <div>
        <input type="radio" id="a" name="resposta" value="a">
        <label for="a"> A) Review </label>
    </div>

    <div>
        <input type="radio" id="b" name="resposta" value="b">
        <label for="b"> B) Daily </label>
    </div>

    <div>
        <input type="radio" id="c" name="resposta" value="c" data-resposta="true">
        <label for="c"> C) Planning </label>
    </div>

    <div>
        <input type="radio" id="d" name="resposta" value="d">
        <label for="d"> D) Sprint </label>
    </div>

    <div><b>Questão 2:</b> O período de tempo durante o qual uma equipe de desenvolvimento trabalha para concluir um
        conjunto predefinido de tarefas ou itens de trabalho é chamado de:</div>

    <div>
        <input type="radio" id="a" name="resposta" value="a">
        <label for="a"> A) Review </label>
    </div>

    <div>
        <input type="radio" id="b" name="resposta" value="b">
        <label for="b"> B) Daily </label>
    </div>

    <div>
        <input type="radio" id="c" name="resposta" value="c" data-resposta="true">
        <label for="c"> C) Planning </label>
    </div>

    <div>
        <input type="radio" id="d" name="resposta" value="d">
        <label for="d"> D) Sprint </label>
    </div>

    <div><b>Questão 3:</b> Como é chamada a reunião que ocorre no final de cada sprint?</div>

    <div>
        <input type="radio" id="a" name="resposta" value="a">
        <label for="a"> A) Review </label>
    </div>

    <div>
        <input type="radio" id="b" name="resposta" value="b">
        <label for="b"> B) Daily </label>
    </div>

    <div>
        <input type="radio" id="c" name="resposta" value="c" data-resposta="true">
        <label for="c"> C) Planning </label>
    </div>

    <div>
        <input type="radio" id="d" name="resposta" value="d">
        <label for="d"> D) Sprint </label>
    </div>
</div>
<a href="/conclusao3">
    <button class="button">
        <h2><i><b>Finalizar</b></i></h2>
    </button>
</a>
{% endblock %}