{% extends "base.html" %}
{% block title %} Teste 2 {% endblock %}
{% block content %}
<header>
    <a href="/modulo2">
        <img src="../static/img/logo.png" alt="logo">
    </a>
    <div class="title">
        <h1><b>Bem-vindo ao Teste de Aprendizado Módulo 2</b>
            <h1>
    </div>
</header>

<div class="content">

    <div><b>Questão 1:</b> Qual das seguintes afirmações sobre o Product Backlog está correta?</div>

    <div>
        <input type="radio" id="a" name="resposta" value="a">
        <label for="a"> A) É uma lista de tarefas detalhadas para a próxima Sprint </label>
    </div>

    <div>
        <input type="radio" id="b" name="resposta" value="b">
        <label for="b"> B) Deve ser priorizado pelo Scrum Master </label>
    </div>

    <div>
        <input type="radio" id="c" name="resposta" value="c" data-resposta="true">
        <label for="c"> C) Contém apenas requisitos de alta prioridade </label>
    </div>

    <div>
        <input type="radio" id="d" name="resposta" value="d">
        <label for="d"> D) Evolui continuamente à medida que novos requisitos surgem  </label>
    </div>

    <div><b>Questão 2:</b>Qual é a principal função da Sprint Backlog?</div>

    <div>
        <input type="radio" id="a" name="resposta" value="a">
        <label for="a"> A) Definir os objetivos do produto </label>
    </div>

    <div>
        <input type="radio" id="b" name="resposta" value="b">
        <label for="b"> B) Detalhar o Product Backlog para o próximo trimestre </label>
    </div>

    <div>
        <input type="radio" id="c" name="resposta" value="c" data-resposta="true">
        <label for="c"> C) Identificar impedimentos no projeto </label>
    </div>

    <div>
        <input type="radio" id="d" name="resposta" value="d">
        <label for="d"> D) Planejar o trabalho da equipe para a Sprint atual </label>
    </div>

    <div><b>Questão 3:</b> O que é um Product Increment? </div>

    <div>
        <input type="radio" id="a" name="resposta" value="a">
        <label for="a"> A) Um relatório de progresso da equipe  </label>
    </div>

    <div>
        <input type="radio" id="b" name="resposta" value="b">
        <label for="b"> B) Uma lista de tarefas de baixa prioridade no Product Backlog </label>
    </div>

    <div>
        <input type="radio" id="c" name="resposta" value="c" data-resposta="true">
        <label for="c"> C) Uma versão potencialmente entregável do produto após o término da Sprint </label>
    </div>

    <div>
        <input type="radio" id="d" name="resposta" value="d">
        <label for="d"> D) Um documento de planejamento de projeto </label>
    </div>
</div>

    <div><b>Questão 4:</b> Quem é geralmente responsável por priorizar os itens no Product Backlog? </div>
    
    <div>
        <input type="radio" id="a" name="resposta" value="a">
        <label for="a"> A) A equipe de desenvolvimento </label>
    </div>

    <div>
        <input type="radio" id="b" name="resposta" value="b">
        <label for="b"> B) Os stakeholders </label>
    </div>

    <div>
        <input type="radio" id="c" name="resposta" value="c" data-resposta="true">
        <label for="c"> C) O Scrum Master </label>
    </div>

    <div>
        <input type="radio" id="d" name="resposta" value="d">
        <label for="d"> D) O Product Owner</label>
    </div>
</div>
<a href="/conclusao2">
    <button class="button">
        <h2><i><b>Finalizar</b></i></h2>
    </button>
</a>
{% endblock %}