{% extends "base.html" %}
{% block title %} Teste 3 {% endblock %}
{% block content %}
<header>
    <a href="/modulo3">
        <img src="../static/img/logo.png" alt="logo">
    </a>
    <div class="title">
        <h1><b>Bem-vindo ao Teste de Aprendizado Módulo 3</b>
            <h1>
    </div>
</header>

<div class="content">

    <div><b>Questão 1:</b> Qual é o objetivo do Sprint Planning no Scrum?</div>

    <div>
        <input type="radio" id="a" name="resposta" value="a">
        <label for="a"> A) Revisar o trabalho concluído durante o Sprint. </label>
    </div>

    <div>
        <input type="radio" id="b" name="resposta" value="b">
        <label for="b"> B) Definir as tarefas diárias dos membros da equipe. </label>
    </div>

    <div>
        <input type="radio" id="c" name="resposta" value="c" data-resposta="true">
        <label for="c"> C) Selecionar e comprometer-se com as histórias do usuário para o próximo Sprint.</label>
    </div>

    <div>
        <input type="radio" id="d" name="resposta" value="d">
        <label for="d"> D) Realizar uma retrospectiva para identificar melhorias. </label>
    </div>

    <div><b>Questão 2:</b>  Daily Scrum
        Qual é o principal propósito do Daily Scrum no Scrum?
         </div>

    <div>
        <input type="radio" id="a" name="resposta" value="a">
        <label for="a"> A) Planejar o próximo Sprint. </label>
    </div>

    <div>
        <input type="radio" id="b" name="resposta" value="b">
        <label for="b"> B) Monitorar o progresso do projeto. </label>
    </div>

    <div>
        <input type="radio" id="c" name="resposta" value="c" data-resposta="true">
        <label for="c"> C) Identificar problemas e obstáculos. </label>
    </div>

    <div>
        <input type="radio" id="d" name="resposta" value="d">
        <label for="d"> D) Realizar uma revisão do Sprint anterior. </label>
    </div>

    <div><b>Questão 3:</b>  Sprint Review
        O que acontece durante o evento Sprint Review no Scrum?
         </div>

    <div>
        <input type="radio" id="a" name="resposta" value="a">
        <label for="a"> A) A equipe realiza a retrospectiva do Sprint. </label>
    </div>

    <div>
        <input type="radio" id="b" name="resposta" value="b" data-resposta="true">
        <label for="b"> B) A equipe apresenta o trabalho concluído no Sprint e obtém feedback. </label>
    </div>

    <div>
        <input type="radio" id="c" name="resposta" value="c">
        <label for="c"> C)  A equipe define as tarefas para o próximo dia. </label>
    </div>

    <div>
        <input type="radio" id="d" name="resposta" value="d">
        <label for="d"> D) O Product Owner prioriza o backlog do Sprint. </label>
    </div>

    
    <div><b>Questão 4:</b>Sprint Retrospective Qual é o objetivo da Sprint Retrospective no Scrum?
        </div>

    <div>
        <input type="radio" id="a" name="resposta" value="a">
        <label for="a"> A) Definir as metas para o próximo Sprint. </label>
    </div>

    <div>
        <input type="radio" id="b" name="resposta" value="b">
        <label for="b"> B) Revisar o progresso diário da equipe. </label>
    </div>

    <div>
        <input type="radio" id="c" name="resposta" value="c" data-resposta="true">
        <label for="c"> C) Identificar melhorias no processo e no trabalho da equipe. </label>
    </div>

    <div>
        <input type="radio" id="d" name="resposta" value="d">
        <label for="d"> D) Realizar uma revisão do produto entregue no Sprint.</label>
    </div>
</div>
<a href="/conclusao3">
    <button class="button">
        <h2><i><b>Finalizar</b></i></h2>
    </button>
</a>
{% endblock %}