{% extends "base.html" %}
{% block title %} Teste 1 {% endblock %}
{% block content %}
<header>
    <a href="/modulo1">
        <img src="../static/img/logo.png" alt="logo">
    </a>
    <div class="title">
        <h1><b>Bem-vindo ao Teste de Aprendizado Módulo 1</b>
            <h1>
    </div>
</header>

<form method="POST" action="/corrigir">
    <h1>Questionário</h1>


    <div class="question">
        <div><b>Pergunta 1:</b> Qual é a principal responsabilidade do Scrum Master em relação aos impedimentos no
            Scrum?</p>
        </div>
        <input type="radio" name="q1" value="a">A) Identificar e documentar impedimentos.<br>
        <input type="radio" name="q1" value="b">B) Resolver todos os impedimentos sozinho.<br>
        <input type="radio" name="q1" value="c" checked>C) Remover impedimentos que afetam o progresso da equipe.<br>
        <input type="radio" name="q1" value="d">D) Ignorar os impedimentos e focar apenas nas metas do sprint.<p>
    </div>

    <div class="question">
        <div><b>Pergunta 2:</b> Qual é um dos exemplos práticos de atividades que um Scrum Master pode realizar, conforme mencionado no texto?</p>
        </div>
        <input type="radio" name="q1" value="a">A) Gerenciar o backlog do produto.<br>
        <input type="radio" name="q1" value="b">B) Criar documentação de projeto.<br>
        <input type="radio" name="q1" value="c" checked>C) Realizar a Reunião de Planejamento da Sprint.<br>
        <input type="radio" name="q1" value="d">D) Desenvolver código de software.<p>

        <div class="question">
            <div><b>Pergunta 3:</b> De acordo com o texto, qual é uma das responsabilidades fundamentais de um Product Owner?</p>
        </div>
        <input type="radio" name="q1" value="a">A) Desenvolver código de software.<br>
        <input type="radio" name="q1" value="b">B) Gerenciar o backlog do produto.<br>
        <input type="radio" name="q1" value="c" checked>C) Coletar feedback de usuários para relatórios de bugs.<br>
        <input type="radio" name="q1" value="d">D) Conduzir reuniões de retrospectiva de sprint.<p>

    <div class="question">
        <div><b>Pergunta 4:</b> Qual é uma das principais responsabilidades dos membros da equipe de desenvolvimento (Team Dev) mencionada no texto?</p>
        </div>
        <input type="radio" name="q1" value="a">A) Definir a visão do produto.<br>
        <input type="radio" name="q1" value="b">B) Realizar reuniões de retrospectiva da sprint.<br>
        <input type="radio" name="q1" value="c" checked>C) Escrever código, realizar testes e integrar novos recursos no produto.<br>
        <input type="radio" name="q1" value="d">D) Priorizar o backlog do produto.<p>

            </div>
            <a href="/conclusao1">
                <button class="button">
                    <h2><i><b>Finalizar</b></i></h2>
                </button>
            </a>
            {% endblock %}
