<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/test.css">
</head>

<body>
    <header>
        <a href="/modulo1" class="logo-button">
            <img src="../static/img/logo.png" alt="logo">
        </a>
        <div class="title">
            <h1><b>Bem-vindo ao Teste de Aprendizado Módulo 1</b>
                <h1>
        </div>
    </header>

    <div class="content">

        <div><b>Questão 1:</b> Qual dos itens citados abaixo é um dos principais papéis desempenhados pelo Scrum Master
            na metodologia Scrum?</div>

        <p>
            <input type="radio" id="a" name="resposta" value="a">
            <label for="a"> A) Desenvolvimento de software </label>
        </p>
        <p>
            <input type="radio" id="b" name="resposta" value="b">
            <label for="b"> B) Teste de qualidade </label>
        </p>

        <p>
            <input type="radio" id="c" name="resposta" value="c" data-resposta="true">
            <label for="c"> C) Remoção de obstáculos </label>
        </p>

        <p>
            <input type="radio" id="d" name="resposta" value="d">
            <label for="d"> D) Gerenciamento de projetos </label>
        </p>

        <div><b>Questão 2:</b> Qual é o papel do Product Owner (P.O.) em uma equipe ágil de desenvolvimento de software?
        </div>

        <p>
            <input type="radio" id="a" name="resposta" value="a">
            <label for="a"> A) Gerenciar o desenvolvimento de código fonte </label>
        </p>
        <p>
            <input type="radio" id="b" name="resposta" value="b">
            <label for="b"> B) Definir os prazos para as tarefas da equipe </label>
        </p>

        <p>
            <input type="radio" id="c" name="resposta" value="c" data-resposta="true">
            <label for="c"> C) Representar os interesses do cliente, definir e priorizar o backlog do produto </label>
        </p>

        <p>
            <input type="radio" id="d" name="resposta" value="d">
            <label for="d"> D) Facilitar as reuniões diárias de stand-up da equipe </label>
        </p>

        <div><b>Questão 3:</b> Quais são os principais benefícios do investimento no desenvolvimento da equipe em um
            projeto?</div>

        <p>
            <input type="radio" id="a" name="resposta" value="a">
            <label for="a"> A) Redução dos custos do projeto e aumento da duração do cronograma </label>
        </p>
        <p>
            <input type="radio" id="b" name="resposta" value="b">
            <label for="b"> B) Melhoria da comunicação interna e aumento da rotatividade da equipe </label>
        </p>

        <p>
            <input type="radio" id="c" name="resposta" value="c" data-resposta="true">
            <label for="c"> C) Aumento da produtividade da equipe e melhoria da qualidade do trabalho </label>
        </p>

        <p>
            <input type="radio" id="d" name="resposta" value="d">
            <label for="d"> D) Diminuição da cooperação entre os membros da equipe e aumento do estresse </label>
        </p>

    </div>

    <a href="/conclusao1">
        <button class="finalizar-button">
            <div class="check">
                <img src="../static/img/check-mark.png" alt="check-mark">
            </div>
            <div class="finalizar">
                <h2><b>Finalizar</b></h2>
            </div>
        </button>
    </a>
</body>

</html>