<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
    <link rel="stylesheet" href="css/test.css">
</head>

<body>
    <header>
        <a href="INSERIR HOME MODULO 3.html"   class="logo-button">
            <img src="img/equipe-logo.png" alt="logo">
        </a>
        <div class="title">
            <h1><b>Bem-vindo ao Teste de Aprendizado Módulo 3</b><h1>
        </div>
    </header>

<div class="content">

    <div><b>Questão 1:</b> Como é chamada a reunião diária para acompanhamento do projeto?</div>
            
        <p>
            <input type="radio" id="a"  name="resposta" value="a">
                <label for="a"> A) Review </label>
        </p>
    
        <p>
            <input type="radio" id="b"  name="resposta" value="b">
                <label for="b"> B) Daily </label>
        </p>
   
        <p>
            <input type="radio" id="c"  name="resposta" value="c" data-resposta="true">
                <label for="c"> C) Planning </label>
        </p>
    
        <p>
            <input type="radio" id="d"  name="resposta" value="d">
                <label for="d"> D) Sprint </label>
        </p>

    <div><b>Questão 2:</b> O período de tempo durante o qual uma equipe de desenvolvimento trabalha para concluir um conjunto predefinido de tarefas ou itens de trabalho é chamado de:</div>
        
        <p>
            <input type="radio" id="a"  name="resposta" value="a">
                <label for="a"> A) Review </label>
        </p>
    
        <p>
            <input type="radio" id="b"  name="resposta" value="b">
                <label for="b"> B) Daily </label>
        </p>
    
        <p>
            <input type="radio" id="c"  name="resposta" value="c" data-resposta="true">
                <label for="c"> C) Planning </label>
        </p>
    
        <p>
            <input type="radio" id="d"  name="resposta" value="d">
                <label for="d"> D) Sprint </label>
        </p>

    <div><b>Questão 3:</b> Como é chamada a reunião que ocorre no final de cada sprint?</div>
        
        <p>
            <input type="radio" id="a"  name="resposta" value="a">
                <label for="a"> A) Review </label>
        </p>
        
        <p>
            <input type="radio" id="b"  name="resposta" value="b">
                <label for="b"> B) Daily </label>
        </p>
        
        <p>
            <input type="radio" id="c"  name="resposta" value="c" data-resposta="true">
                <label for="c"> C) Planning </label>
        </p>
       
        <p>
            <input type="radio" id="d"  name="resposta" value="d">
                <label for="d"> D) Sprint </label>
        </p>
    </div>    

    <button class="finalizar-button" onclick="location.href='conclusao3.html'">
        <div class="check">
            <img src="img/check-mark.png" alt="check-mark">
        </div>
        <div class="finalizar">
            <h2><b>Finalizar</b></h2>
        </div>
    </button>
    
</body>
</html>