{% extends "base.html" %}
{% block title %} Teste 2 {% endblock %}
{% block content %}
<header>
    <a href="/modulo2">
        <img src="../static/img/logo.png" alt="logo">
    </a>
    <div class="title">
        <h1><b>Bem-vindo ao Teste de Aprendizado Módulo 2</b>
            <h1>
    </div>
</header>

<div class="content">

    <div><b>Questão 1:</b> Qual o nome do documento que contém a lista de tarefas do produto, a ser desenvolvida
        pelo time na metodologia Scrum?</div>

    <div>
        <input type="radio" id="a" name="resposta" value="a">
        <label for="a"> A) Product Increment </label>
    </div>

    <div>
        <input type="radio" id="b" name="resposta" value="b">
        <label for="b"> B) Product Owner </label>
    </div>

    <div>
        <input type="radio" id="c" name="resposta" value="c" data-resposta="true">
        <label for="c"> C) Product Meeting </label>
    </div>

    <div>
        <input type="radio" id="d" name="resposta" value="d">
        <label for="d"> D) Planning Backlog </label>
    </div>

    <div><b>Questão 2:</b> Qual o nome da lista de tarefas da Sprint desenvolvidas pelo time?</div>

    <div>
        <input type="radio" id="a" name="resposta" value="a">
        <label for="a"> A) Product Increment </label>
    </div>

    <div>
        <input type="radio" id="b" name="resposta" value="b">
        <label for="b"> B) Product Owner </label>
    </div>

    <div>
        <input type="radio" id="c" name="resposta" value="c" data-resposta="true">
        <label for="c"> C) Product Meeting </label>
    </div>

    <div>
        <input type="radio" id="d" name="resposta" value="d">
        <label for="d"> D) Planning Backlog </label>
    </div>

    <div><b>Questão 3:</b> Como é chamada a a soma de todos os itens completos em uma Sprint?</div>

    <div>
        <input type="radio" id="a" name="resposta" value="a">
        <label for="a"> A) Product Increment </label>
    </div>

    <div>
        <input type="radio" id="b" name="resposta" value="b">
        <label for="b"> B) Product Owner </label>
    </div>

    <div>
        <input type="radio" id="c" name="resposta" value="c" data-resposta="true">
        <label for="c"> C) Product Meeting </label>
    </div>

    <div>
        <input type="radio" id="d" name="resposta" value="d">
        <label for="d"> D) Planning Backlog </label>
    </div>
</div>
<a href="/conclusao2">
    <button class="button">
        <h2><i><b>Finalizar</b></i></h2>
    </button>
</a>
{% endblock %}