{% extends "base.html" %}
{% block title %} Teste 3 {% endblock %}
{% block content %}
<header>
    <a href="/modulo3">
        <img src="../static/img/logo.png" alt="logo">
    </a>
    <div class="title-test">
        <h1>Teste de Aprendizado Módulo 3<h1>
    </div>
</header>

<div class="content">

    <form action="/submit" method="post">
        <h1><b>Questionário:</b></h1>
        
        
        <div class="question">
            <div><b>Pergunta 1:</b> Qual é o objetivo da Sprint Planning no Método Scrum?</p></div>
            <input type="radio" name="q1" value="a" required>A) Revisar o trabalho concluído durante o Sprint.<br>
            <input type="radio" name="q1" value="b">B) Definir as tarefas diárias dos membros da equipe.<br>
            <input type="radio" name="q1" value="c">C) Selecionar e comprometer-se com as histórias do usuário para o próximo Sprint.<br>
            <input type="radio" name="q1" value="d">D) Realizar uma retrospectiva para identificar melhorias.<p>
        </div>

        <div class="question">
            <div><b>Pergunta 2:</b> Qual é o principal propósito da Daily Scrum no Método Scrum?</p>
            <input type="radio" name="q2" value="a" required>A) Planejar o próximo Sprint.<br>
            <input type="radio" name="q2" value="b">B) Monitorar o progresso do projeto.<br>
            <input type="radio" name="q2" value="c">C) Identificar problemas e obstáculos.<br>
            <input type="radio" name="q2" value="d">D) Realizar uma revisão do Sprint anterior<p>
        </div>

        <div class="question">
            <b>Pergunta 3:</b> O que acontece durante o evento Sprint Review no método Scrum?</p>
            <input type="radio" name="q3" value="a"  required>A) A equipe realiza a retrospectiva do Sprint.<br>
            <input type="radio" name="q3" value="b">B) A equipe apresenta o trabalho concluído no Sprint e obtém feedback.<br>
            <input type="radio" name="q3" value="c">C) A equipe define as tarefas para o próximo dia.<br>
            <input type="radio" name="q3" value="d">D) O Product Owner prioriza o backlog do Sprint.<p>
        </div>
        <div class="question">
            <b>Pergunta 4:</b> Qual é o objetivo da Sprint Retrospective no Método Scrum? </p>
            <input type="radio" name="q4" value="a"  required>A) Definir as metas para o próximo Sprint. <br>
            <input type="radio" name="q4" value="b">B) Revisar o progresso diário da equipe.<br>
            <input type="radio" name="q4" value="c">C) Identificar melhorias no processo e no trabalho da equipe.<br>
            <input type="radio" name="q4" value="d">D) Realizar uma revisão do produto entregue no Sprint.<br>
        </div>

        
        <button class="button" type="submit" value="Enviar"> <h4><i><b>Enviar</h4></i></b></button>
        
    </form>

</div>

{% endblock %}
