
.titulo {
    margin-top: 60px; /* Ajuste a margem superior conforme necessário */
    text-align: center;
}
        
.logo img {
    max-width: 80px; /* Define o tamanho máximo do logotipo */
    height: auto; /* Mantém a proporção do logotipo */
    margin-left: -1300px;
}

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding-top: 0;

        }
        header {
            background-color: #15abc3;
            color: white;
            padding: 15px ;
            text-align: center;
        }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        .scrum-image {
            max-width: 100%;
            height: auto;
        }
        .card {
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 5px;
            margin: 25px;
            text-align: center;
            cursor: pointer;
        }
        
        .capa {
            max-width: 100%; /* Defina o valor desejado, por exemplo, 50% para tornar a imagem mais estreita */
            height: 30%; /* Mantém a proporção da imagem */
            display: block;
    
        
        }
        .espaco-abaixo {
            height: 50px; /*  espaço abaixo da imagem */
        }

        .card-home {
            max-width: 150px; /* tamanho máximo das imagens pequenas */
            height: auto; /* Mantém a proporção das imagens */
            margin:  20px; /* Adiciona margem horizontal entre as imagens */
    
        }

        .card {
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 10px;
            margin: 10px;
            text-align: center;
            cursor: pointer;
            float: left; /* Alinha os cards horizontalmente */
            width: calc(33.33% - 20px); /* Define a largura dos cards com espaço entre eles */
            box-sizing: border-box; /* Evita que a largura seja maior devido à margem e ao padding */
            background-color: #15abc3;
        }
        
        


        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: #333;
            overflow: hidden;
        }
        
        nav li {
            float: left;
        }
        
        nav li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        nav li a:hover {
            background-color: #ddd;
            color: black;
        }
        
        /* Estilos para o dropdown menu */
        .dropdown:hover .dropdown-menu {
            display: block;
            position: absolute;
            background-color: #333;
        }
        
        .dropdown-menu {
            display: none;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        
        .dropdown-menu li {
            display: block;
        }
        
        .dropdown-menu li a {
            color: white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }
        
        .dropdown-menu li a:hover {
            background-color: #ddd;
            color: black;
        }
        
        
        
