/* Reset de estilos padrão do navegador */
body, h1, form, input, label {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

header {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
    padding: 10px;
    background: linear-gradient(to right, rgb(151, 229, 255),#0058bce1, rgb(151, 229, 255));

}

h1 {
    font-size: 50px;
    font-style: italic;
    font-weight: 600;
    line-height: 67px;
    text-align: center;
    letter-spacing: -4px;
    margin: 0 auto; /* Define a margem esquerda e direita para "auto" */
    color: #ffffff;
    font-weight: bold;
}

form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Estilo das perguntas e respostas */
.question {
    margin-bottom: 20px;
    text-align: left;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

/* Estilo do botão de envio */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#name-form {
    text-align: center;
}

/* .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.close {
    float: right;
    cursor: pointer;
} */


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Estilos para o conteúdo do modal */
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 20px;
    max-width: 400px;
}

/* Estilos para o botão de fechar */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Estilos para a mensagem no modal */
.message {
    font-size: 16px;
    margin-bottom: 15px;
}

/* Estilos para o botão de redirecionamento */
.redirect-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.redirect-button:hover {
    background-color: #0056b3;
}