p {
    color: #040404;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 16px 17% 16px 17%;

}

.subtitulo {
    font-size: 30px;
    font-style: italic;
    font-weight: 600;
    line-height: 67px;
    text-align: left;
    letter-spacing: -2px;
    margin-left: 15%;
    margin-right: 15%;
    color: #000000;
    font-weight: bold;

}

.titulo {
    font-size: 45px;
    font-style: italic;
    font-weight: 600;
    line-height: 67px;
    text-align: center;
    letter-spacing: -3px;
    margin: 0 auto; /* Define a margem esquerda e direita para "auto" */
    color: #ffffff;
    font-weight: bold;
}

.title-test {
    font-size: 22px;
    font-style: italic;
    font-weight: 600;
    line-height: 67px;
    text-align: center;
    letter-spacing: -3px;
    margin: 0 auto; /* Define a margem esquerda e direita para "auto" */
    color: #ffffff;
    font-weight: bold;
}

.texto {
    color: #040404;
    text-align: center;
    margin-left: 16%;
    margin-right: 16%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -2px;



}

.card {
    flex-direction: row;
    width: auto;
    border: 0;
    justify-content: space-around;
    display: flex;

}

.card a {
    width: 200px;
    height: 270px;
    margin: 25px;
    border-radius: 25px;
    /* background-color: rgb(76, 176, 243); */
    text-decoration: none;
    background: linear-gradient(to bottom, rgb(151, 229, 255),#0058bce1);
    color: #fff;
}

/* .card a:hover {
    background-color: #0379ffe1;
} */

.card img {
    width: 143px;
    height: 143px;
    margin: 27px 0 0 30px;
    text-align: center;
}

.card h2 {
    color: #ffffff;
    text-align: center;
    font-family: Arial;
    font-size: 28px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: normal;
    margin-top: 20px;
}

header {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    text-align: center;
    padding: 10px;
    background: linear-gradient(to right, rgb(151, 229, 255),#0058bce1, rgb(151, 229, 255));

}

.action {
    align-items: center;
    color: black;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-right: 30px;

}

.action::before {
    content: "";
    background-color: #DDA15E;
    width: 10px;
    height: 10px;
    margin-right: 10px;

}

.capa {
    background-size: 100%;
    width: 1000px;
    margin: auto;
    position: relative;
    align-items: center;
}

.flecha {
    flex-direction: row;
    width: auto;
    border: 0;
    justify-content: space-around;
    display: flex;
    margin-top: 70px;
    margin-bottom: 100px;

}

.flecha img {
    width: 50px;
    height: 50px;
}

.congratulations {
    margin: 5%;
    margin-top: 50px;
    text-align: center;
    font-size: 19px;
    padding: 20px;
    letter-spacing: -3px;
}

.button {
    background-color: #0379ffe1;
    border-radius: 5px;
    padding: 10px 20px; 
    text-align: center;
    display:flex;
    font-size: 16px;
    margin: 30px 2px;
    min-width: auto;
   

}

/* .button:hover {
    background-color:#0379ffe1;
} */

.content {
    margin: 8%;
    margin-top: 25px;
    text-align: left;
    font-size: 19px;
    padding: 20px;
}


.carousel-control-prev,
.carousel-control-next {
    top: -15%;
    transform: translateY(-1%);
} 

.centered-content {
    font-weight: bold;
    font-style: italic;
    font-size: 25px;
    letter-spacing: -2px;
    color:rgb(0, 0, 0);
}


.video-iframe {
    text-align: center; /* Centralizar o vídeo */
}

/* Botao voltar ao topo e rodapé */

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: #0379ffe1;
    text-decoration: none;
    border-radius: 25%;
}
.btns::after {
    content: "↑";
    font-size: 40px;
    font-weight: bold;
    color: aliceblue;
    transition: margin-top 250ms;
}
.btns:hover::after {
    margin-top:-8px;
}

.custom-shape-divider-bottom-1683068753 {
    float: left;
    width: 100%;
    margin-bottom: -2px;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.custom-shape-divider-bottom-1683068753 svg {
    
    float: left;    
    display: block;
    width: calc(148% + 1.3px);
    height: 178px;
    background: #ffffff00;
    margin-bottom: -2px;
}
.custom-shape-divider-bottom-1683068753 .shape-fill {
    fill: rgb(0, 176, 217);
}
.main_footer   { background-color:rgb(0, 176, 217); color:#ffffff; font-size:1em; }
.main_footer .content { float:left; width:80%; margin:0 10%; padding:2em 0; }
.containerr { float:left; width:100%; }
.colfooter { 
 
  width:100%; 
  height:auto; 
  float:left; 
  margin-bottom:2em;
}
.colfooter ul        { width:100%; float:left; }
.colfooter ul li     { padding:0.2em 0em; }
.colfooter ul li a   { text-decoration:none; color:#ffffff; font-size:1em; transition:0.2s; }
.colfooter ul li a i { font-size:0.5em; }
.colfooter ul li a:hover { color:#313131; }
.colfooter .titleFooter   { 
  
  font-family: 'Lato', sans-serif; 
  font-size:1.3em; 
  color:#ffffff; 
  padding-bottom: 0.5em; 
  margin-bottom:0.5em; 
  border-bottom:1px #ffffff solid;
}
.colfooter p  { 
  font-family: 'Lato', sans-serif; 
  color:#ffffff; 
  font-size:1em; 
  height:25px; 
} 
.botao{
  padding: 10px 12px;
  color: #fff;
  font-family: 'Lato', sans-serif;
  letter-spacing:2px;
  text-align: center;
  position: relative;
  text-decoration: none;
  display:inline-block;
  margin-right:7px;
  
}
.botao::before {
  
  content: '';
  position: absolute;
  bottom: 50%;
  left: 0px;
  width: 100%;
  height: 1px;
  background: #6098FF;
  display: block;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.2s cubic-bezier(1, 0, 0, 1)
}
.botao:hover::before {
  
  -webkit-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1)
}
.botao{
    font-size:1em;
    color:#ffffff;
    text-align:center;
    font-family: 'Lato', sans-serif;
    border:1px solid #ffffff;
    border-radius:50px;
    overflow: hidden!important;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    background: transparent!important;
    z-index:10;
    
}
.botao:hover{
    border: 1px solid #262626;
    color: rgb(0, 176, 217) !important;
}
.botao::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #262626;
    position: absolute;
    -ms-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg); 
    transform: skewX(-15deg);   
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow:2px 0px 14px rgba(0,0,0,.6);
} 
.botao::after {
 
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #e82626;
    position: absolute;
    -ms-transform: skewX(-15deg);
    -webkit-transform: skewX(-15deg); 
    transform: skewX(-15deg);   
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
    -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
    transition: all .4s cubic-bezier(.2,.95,.57,.99);
    box-shadow: 2px 0px 14px rgba(0,0,0,.6);
}
.botao:hover::before, .botao:hover::before{
   
    opacity:1;
    width: 120%;
}
.botao:hover::after, .botao:hover::after{
    opacity:1;
    width: 150%;
}
.main_footer_copy   { background-color:rgb(0, 165, 202); width:100%; float:left; font-family: 'Lato', sans-serif; text-align:center; padding:0.5em 0em; }
.main_footer_copy p { font-size:1em; color:#ffffff; height:20px; }
.main_footer_copy .m-b-footer   { margin-bottom:0.5em; }
.main_footer_copy .by   { font-size:0.96em; }
.main_footer_copy .by a       { color:#fff; text-decoration:none; font-weight:600; transition:0.2s; }
.main_footer_copy .by a:hover { text-decoration:underline; color:#313131 }
.main_footer_copy .by i { font-size:0.96em; margin-right:3px; color:#e82626; }
/*Responsivo*/
/*768PX BREAKPOINT*/
@media (min-width:48em){
  .colfooter  { width:30%; margin-right:5%; margin-bottom:0; }
  .colfooter:nth-of-type(3n+0){ margin-right:0; border-right:0;}
}